[2017-09-21 03:58] igdianov opened #1 "NPE in Hibernate when executing nested GraphQL query with collection attributes"
For example:
`query {
  Human(id:"1001") {
    favoriteDroid {
      name
    }
    appearsIn,
    friends {
      name
      friends {
        name
      }
    }
  }
}`

Generates the following NPE with the stack trace:

[code]

[2017-09-21 04:04] igdianov opened #2 "Cannot simultaneously fetch multiple bags"
Executing query:

`query {
	Human(id:"1001") {
    favoriteDroid {
      name
    }
    appearsIn,
    friends {
      name
      friends {
        name
      }
    }
  }
}`

produces the following exception with the stack trace:

[code]

[2017-09-21 04:07] igdianov opened #3 "Use Starwars entity models in `graphql-jpa-query-example`"
Need to make example consistent with README descriptions

[2017-09-21 04:30] igdianov commented on #2
When we use Collection or List type in `@ManyToMany` or `@OneToMany` associations like below
[code]
Hibernate underneath JPA cannot use `java.util.List` or `java.util.Collection` for fetching eagerly associations with more than two levels of nesting for collections while using generated fetch graph to optimize query performance.

One workaround solution is to replace bag semantics with List semant

[2017-09-21 04:39] igdianov commented on #1
The test entity models use Project Lombok annotations for generating boiler plate Java code.

[code]
The root cause of the NPE in Hibernate is hashCode() method in Character class used by Hibernate to initialize loaded collection associations. It is generated by Lombok's `@EqualsAndHashCode` annotation which is a part of `@Data` annotation in `Character` entity class. Replacing `@Data` with only `

[2017-09-21 04:40] igdianov opened #4 "Add dynamic fetch graph for singular entity query data fetcher"

[2017-09-21 04:43] igdianov commented on #4
Depends on #2 and #1

[2017-09-21 05:33] #1 closed

[2017-09-21 05:33] #2 closed

[2017-09-21 05:33] #3 closed

[2017-09-21 05:33] #4 closed

[2017-09-23 18:44] igdianov opened #5 "Publish library artifacts to Maven Central"

[2017-09-23 18:50] igdianov opened #6 "Enable parameter bindings in reverse (many-to-one) queries"
Executing an inverse query to filter results with a join in many-to-one association works only with static parameter binding using where criteria expressions, i.e. the following query will fail:
[code]
This has to do with how `graphql-java` library performs argument binding in `DataFetchingEnvironment` context when invoking `DataFetcher`

[2017-09-23 18:52] igdianov opened #7 "Make example running on Play With Docker"
Create Dockerfile for `graphql-jpa-query-example` Spring Boot application.
Add Dockerfile image build and publish to Docker Hub on Maven `deploy` goal.
Create PWD badge link in README in order to run the provided example on https://play-with-docker.com.

[2017-09-23 18:52] igdianov opened #8 "Implement Github project website"

[2017-09-25 05:10] introproventures opened #9 "Add parameter binding description to README"

[2017-09-25 12:20] almerico commented on #7
play_with_docker branch added
to build docker image-  mvn clean package docker:build -DskipTests   (docker environment variables have to be set correctly)
push image docker push introproventures/graphql-jpa-query

for local test - docker stack deploy --compose-file docker-compose.yml graphql
At the end of Readme file new Docker section with link to play-with-docker.com
https://github.com/introprov

[2017-09-26 17:45] igdianov commented on #7
Done

[2017-09-26 17:45] #7 closed

[2017-09-27 16:54] igdianov opened #11 "Continuous integration with Travis CI"
Configure continuous integration with Travis CI for commits and pull requests.

[2017-09-27 16:56] igdianov opened #12 "Continuous integration with Codecov.io"
Configure continuous integration with Codecov.io for commits and pull requests

[2017-09-27 17:04] introproventures commented on #12
Depends on #11

[2017-09-28 06:54] introproventures opened #13 "Provide additional page metadata in select response"
Currently, only two page metadata fields are supported in `select` field wrapper:
* `pages`: total number of pages
* `total`: total number of records

Provide complete page metadata in select response field wrapper as follows:
[code]

[2017-09-30 06:40] igdianov commented on #11
Completed

[2017-09-30 06:40] #11 closed

[2017-09-30 07:04] #12 closed

[2017-10-05 03:58] igdianov commented on #5
Starting from version 0.3.0, use Maven Central repository to include and build individual modules in your project.

For GraphQL JPA Annotations use:

<dependency>
  <groupId>com.introproventures</groupId>
  <artifactId>graphql-jpa-query-annotations</artifactId>
  <version>0.3.0</version>
</dependency>
For GraphQL JPA Schema Builder use:

<dependency>
    <groupId>com.github.introproventures.graphq

[2017-10-05 03:58] #5 closed

[2017-11-03 17:38] #6 closed

[2017-11-03 17:40] igdianov opened #18 "Upgrade to graphql-java 5.0"

[2017-11-03 18:31] #9 closed

[2017-11-03 19:52] igdianov opened #19 "Increase Test Coverage to 70%"

[2017-11-03 19:57] igdianov opened #20 "Add Support for GraphQL Subscriptions"
Depends on #18

[2017-11-03 23:26] igdianov opened #21 "Sorting in nested queries not working"
Nested queries with orderBy arguments are ignored.

[2017-11-04 02:49] #21 closed

[2017-11-04 05:33] igdianov commented on #18
Fixed

[2017-11-04 05:33] #18 closed

[2017-11-10 06:51] igdianov opened #24 "Upgrade to graphql-java 6.0"

[2017-12-30 02:08] #24 closed

[2018-01-02 12:09] whyserkan opened #27 "Page start 0 throws exception"
Hi,
Thanks for this library, I have one issue if I send start value 0 I get :
request:
[code]

[code]

I can add full response too.
We are calling with start value 1, works fine just not follwing your readme.
Cheers

[2018-01-08 19:34] #27 closed

[2018-01-08 19:35] igdianov commented on #27
@whyserkan Thank you for reporting an issue. Sorry for delay in reply - I am away on holiday at the moment.

The start parameter for page argument is 1-based [https://github.com/introproventures/graphql-jpa-query/blob/c2f10d760b92a8bfce19413e1cfebe75416c2160/graphql-jpa-query-schema/src/main/java/com/introproventures/graphql/jpa/query/schema/impl/GraphQLJpaQueryDataFetcher.java#L103](see GraphQLJp

[2018-01-09 10:01] whyserkan commented on #27
Thank you @igdianov ,
One more thing,
As I see 'NE' is generating a 'like' statement instead of a 'not equals'.
Can you check it when you have time?
Cheers.

[2018-01-13 20:41] igdianov opened #28 "'NE' is generating a 'like' statement instead of a 'not equals' for String types."
`query { CodeLists(where: { description: {NE:\"Male\"}}) { select { description } } }`

produces:
[code]
Expected:
[code]

[2018-01-13 22:29] #28 closed

[2018-02-07 08:31] ludovicmotte opened #30 "@MappedSuperclass and @Embedded jpa annotations should be taken into account"
Hi,

My jpa model uses @MappedSuperclass and @Embedded jpa annotations.
It leads to a class cast exception:
[code]

Could you fix that issue in a future version ?

[2018-02-14 20:35] igdianov commented on #30
@ludovicmotte Thank you for reporting the issue. Could you provide entity model for your use case?

[2018-02-14 21:06] ludovicmotte commented on #30
@igdianov Thanks for your reply.
[car.zip](https://github.com/introproventures/graphql-jpa-query/files/1725635/car.zip)

Car is KO because of @MappedSuperclass into Vehicule
Boat is KO because of @Embedded Engine engine

Best regards,

[2018-02-14 21:17] igdianov commented on #30
@ludovicmotte It is an interesting case. I will take a look at it in a few days.

Did you see #1 issue related to using Lombok's `@Data` annotation to auto generate `equals()` and `hashCode()` methods on entity classes? It was the first problem I encountered and had to painfully debug for hours to realize Lombok is the cause of the problem in Hibernate.

[2018-02-15 09:36] ludovicmotte commented on #30
@igdianov Thanks for the #1 link. It should not be an issue in my case. I think you had this issue because you model has circular references Character -> Character

[2018-02-16 23:52] igdianov opened #31 "Runtime exception in DataFetcher on GraphQL '__typename' field"
GraphQL field `__typename` is a part of the Graphql introspection specification and has to be ignored by JPA DataFetcher

[2018-02-17 00:10] #31 closed

[2018-02-22 14:15] introproventures opened #33 "Support @ElementCollection attribute mappings"
https://github.com/introproventures/graphql-jpa-query/blob/master/graphql-jpa-query-boot-starter/src/test/java/com/introproventures/graphql/jpa/query/web/model/Book.java

//based upon https://www.callicoder.com/hibernate-spring-boot-jpa-element-collection-demo/ @ElementCollection @CollectionTable(name = "author_phone_numbers", joinColumns = @JoinColumn(name = "author_id")) @Column(name = "phone_nu

[2018-02-28 22:27] introproventures commented on #33
JPA @ElementCollection mapping needs to generate GraphQL schema that wraps Java collection basic generic attribute type into GraphQL List field of scalar types. Only Basic persistent types are to be supported for now.

i.e. the Author entity class defines @ElementCollection attribute phoneNumbers of basic type String

[code]
GraphQL Schema Builder needs to produce the following schema for Author t

[2018-02-28 22:39] #33 closed

[2018-03-01 05:14] introproventures commented on #30
`@MappedSuperclass` and `@Embeddable` annotations on entity attributes need to be mapped to correctly to corresponding GraphQL query field attributes derived from JPA entity classes:

* Case 1: Given super and concrete entity classes:

[code]
Should result in the following GraphQL schema:
[code]
The following GraphQL query `{ Car(id: "1") { id brand } }` should resolve to:
[code]

* Case 2: Given

[2018-03-01 05:17] #30 closed

[2018-03-01 05:19] introproventures opened #36 "Support GraphQL where search criteria expressions on JPA @Embeddable attributes"

[2018-03-01 05:46] introproventures opened #37 "Update README to include supported JPA annotations to GraphQL type mappings"

[2018-03-01 18:08] igdianov opened #38 "Support JPA @ElementCollection annotation with @Embeddable generic attributes"

[2018-03-06 19:20] ludovicmotte opened #39 "Various possible enhancements"
Hi,
And thank you for this very good graphql implementation.

I am thinking about some possible enhancements, all related to performance :

1. Be able to ignore a field into the "where" argument
My need is to keep a field for display but to not be able to write a where clause with it.
Then I could prevent where database clause on fields that does not have database index.

2. Have a global timeout

[2018-06-16 09:35] uded opened #41 "JSON support for Postgres and MySQL - Set or List not mapped"
With the changes in DB design and the introduction of JSON types, I think we have a problem with the current implementation here. At least this is what I've found here...

Currently `Set` or `List` types will be mapped to `PersistentAttributeType@BASIC` which is fine as it is just a field and not mapped by JPA, it is a Singular type from that perspective and it should not be `@Embedded` as it is r

[2018-08-16 21:05] molexx opened #44 "Help: mutations"
What's the suggested way to add mutations please? I'd like to add support for creating and updating JPA entities.

[2018-08-20 19:26] igdianov commented on #44
@molexx There is no support to add mutations right now. I am interested in understanding and discussing your use case to add support for it.

[2018-08-20 19:33] igdianov commented on #39
@ludovicmotte

1. It would possible to augment where arguments construction filter in schema builder to ignore where arguments with various @GraphQLIgnore annotation attributes. Does it is sound plausible to you?

2. It makes sense. I think it should be reasonable to add optional input arguments: { sqlTimeout: value } in select field to pass Sql query execution parameters.

[2018-08-20 19:35] igdianov commented on #41
@uded I understand what you mean. I can fix it if you could provide a sample Jpa Java entity class to create a test case. Thank you!

[2018-08-20 23:42] molexx commented on #44
@igdianov thanks. We are using GraphQL as an API layer to access an SQL database from a JavaScript UI. This currently works well for reading existing data but we would like to be able to write - update and create entities - too.

I think a first step would be to allow some access to the schema builder so that users can add mutations - that could be done just by making some methods protected rather

[2018-08-21 05:44] ieugen opened #45 "Have you considered no-offset pagination?"
Hi,

First of all: nice library. I haven't used it yet but I'm planning to use it when I get to a new project.
Have you considered keyset/seek pagination? Offset based pagination has performance issues with big tables.

[1] https://use-the-index-luke.com/no-offset

[2018-08-21 18:28] igdianov commented on #45
@ieugen Thank you for feedback.  The `keyset` pagination method does offer significant performance improvements.

Keyset is efficient than an OFFSET based paging/scrolling because this approach can scroll to the next and previous page in O(log n), whereas using OFFSET results in a complexity of O(n), thus making it harder to get to latter pages in big data sets. This is due to how a keyset paginat

[2018-08-21 18:33] igdianov commented on #44
@molexx It sounds good. Would you be willing to create a failing test case based on existing Starwars schema and data and make a PR to help me get the first crack at it?

[2018-08-21 19:12] igdianov opened #46 "Support for BETWEEN / NOT BETWEEN predicates"
It would be nice to have to specify predicates using BETWEEN and NOT_BETWEEN for Integer, Dates, and String data types. For example:

Given: `query { Books ( where: { id: {BETWEEN: [2, 5]}}) { select { id title} } }`
Expected: `{Humans={select=[ {id=1001}, {id=1002}, {id=1003}]}}`

Given: `query { Humans ( where: { id: {NOT_BETWEEN: [\"1001\", \"1003\"]}}) { select { id } } }`
Expected: `{Humans={

[2018-08-22 04:04] ieugen commented on #45
That sounds about right. Very detailed explanation. For Postgresql you can use a special sintax: the row syntax. But thatcis a detail.

Right now I am working with Blaze persistence to do keyset (working on a POC). I think it is a good source of inspiration. It has good documentation and I believe some tests as well.

https://blazebit.com/blog/2016/pagination-blog-post.html

[2018-08-22 04:12] ieugen commented on #45
Regarding the implementation, I think it is important to note:
Only one sort direction is allowed. All asc or all desc.

Serialization of the columns used for cursor should happen.

I concatenate the values using a `.` character. I turn longs and ints to hexstring and strings to base64 url safe strings.

Cursor looks like a JWT token.

I don't encode the column names in the token to make it shorte

[2018-08-30 22:06] molexx commented on #44
Sure! Having a look at the tests...

[2018-09-06 10:51] molexx opened #47 "Pagination start/limit from variables"
If you try to pass the start and limit as variables you get the following error:
[code]

Example query:
[code]
variables:
[code]

[2018-10-18 20:37] igdianov opened #49 "error: Unsupported field type class for enum types in where criteria expressions"
given:

[code]
when:
[code]

then:
[code]

results in error:
[code]

[2018-10-18 20:47] #49 closed

[2018-10-26 22:09] Danilo-Araujo-Silva opened #53 "Is it possible to do mutations?"
Is it possible to use graphql-jpa-query to perform mutations (insert, update, delete)?

[2018-11-03 00:49] Danilo-Araujo-Silva opened #56 "Missing LocalTime"
It looks like java.time.LocalTime is missing in the class JavaScalars.

[2018-11-03 14:48] Danilo-Araujo-Silva opened #57 "Work with multiple databases"
How can we use graphql-jpa-query with multiple databases?

It looks like GraphqlSchemaBuilder fails when we have more than one EntityManager available.

[2018-12-12 03:45] quidl opened #60 "Ability to extend DataFetcher to add default/custom condition"

[2019-01-20 13:40] molexx opened #64 "Help: neat way to add other things to schema"
JPA is working well but we need to add other (non-JPA generated) functionality to the service too.

A simple way looks to be to use jpa-annotations to annotate a method:

https://github.com/Enigmatis/graphql-java-annotations#fields

jpa-annotations that requires that the `GraphQLObjectType` it builds be passed to `schemaBuilder.query()` but that is already called by `GraphQLJpaSchemaBuilder` and c

[2019-01-25 22:21] igdianov commented on #64
@molexx It is possible to use Graphql-Java Apis to merge two GraphQL schemas into one, but the care should be taken to handle GraphQL type names from each schema, so they don't override each other.

Do you use Spring Boot to bootstrap you app? I can make a Spring Boot auto-configuration module that covers your use case.

[2019-01-25 22:22] igdianov commented on #60
@quidl It sounds like a interesting idea! Can you explain your use case in more detail?

[2019-01-25 22:42] igdianov commented on #53
@Danilo-Araujo-Silva Right now, there is no support for mutations. For mutations, data fetchers should be implemented in service layer and exposed via Mutations field type using their own schema.

[2019-01-26 00:49] #47 closed

[2019-01-26 01:01] molexx commented on #64
That sounds promising, thanks. Yes I do use Spring Boot, that would be great please.

[2019-01-26 05:32] #56 closed

[2019-01-26 05:45] #46 closed

[2019-01-26 07:08] igdianov commented on #64
@molexx I have made a quick spike to explore defining and merging several GraphQL schemas (query, mutation, subscriptions) registered in the Spring application context via GraphQLSchemaConfigurer: https://github.com/introproventures/graphql-jpa-query/pull/70

I expect problems with clashing root field names and object types. Let's try to figure out use cases and build unit tests to figure out how

[2019-01-26 13:33] molexx commented on #64
This looks great, thanks! I'll have a play.

RE clashing root field names, would it be appropriate within graphql to insert another level at merge time? That could mean that for example instead of all the JPA entities being directly under query they are instead all under a query item called 'jpaEntities' or something?

If that's possible, and not going against graphql best practise, maybe make it

[2019-01-26 17:43] igdianov commented on #64
@molexx Sounds good. I will try to play with namespaces derived from root if present. If you have any suggestions let me know.

The field names are going to be less of a problem, but the object types will be. For example, if you have same GraphQLTypeObject name i.e. Date in both Jpa Query and Mutation schemas, then GraphQL-Java Api will fail to build GraphQLSchema if GraphQLTypeObjects for Date do

[2019-01-30 11:18] igdianov commented on #64
@molexx

Can you provide the example of how you would like to set the schema name? I can extend the

A: GraphQLSchemaFactoryBean to provide a configurer Java api to customize the merged schemas.

A: Can you give me a specific example what you want get as a result?

A: The tests in auto-configure module do not need to use jpa-query-schema module. I thought it would make sense to keep the more abstr

[2019-01-31 00:08] molexx commented on #64
The example app sets properties `graphql.jpa.query.name` and `graphql.jpa.query.description` - these are now ignored when merging.

Thanks. Yes a separate PR is fine.

This is great as it is, please merge. Thanks!

[2019-01-31 06:19] #64 closed

[2019-01-31 23:05] igdianov opened #72 "Configuration properties are ignored when merging"
The example app sets properties graphql.jpa.query.name and graphql.jpa.query.description - these are now ignored when merging.

[2019-01-31 23:07] igdianov opened #73 "Extract graphql-jpa-query-web module from starter"
into separate module with Spring Boot autoconfiguration

[2019-02-03 04:51] #73 closed

[2019-02-03 12:27] molexx opened #75 "Add to the executor's context"
Now we have schema merging we can add non-JPA functionality to our projects. Sometimes that functionality needs some things in the context - set in the executor and available from `DataFetchingEnvironment`. But graphql-jpa-query defines the Executor which runs all calls and I don't see how to modify that context without breaking it.

In my particular case I need the HttpServletRequest used to make

[2019-02-04 06:06] igdianov commented on #75
@molexx I think I can expose `ExecutionContext` via Builder Factory, so you could inject your own stuff in it easily as well as access `HttpServletRequest`. The reason it is closed is that I had to make a hack in earlier `graphql-java` library version to inject variables value for resolving bindings in reverse query fields. I think in `graphql-java:11` I can now resolve variables without that hack

[2019-02-04 12:20] molexx opened #76 "Query help: filter inside relationships without returning data"
Say I want to find all Humans who have a relationship with a Droid which appeared in A New Hope.
The README has this:
[code]

Which returns:
[code]

but, I just want the Humans. I don't want any info on the Droids. Sure, it works, I can just look at the top-level Humans but there's a load of nested JSON I don't want which will get created, sent over the network and parsed. (In our real db this is

[2019-02-05 01:05] molexx opened #77 "Bug: 'where' filter on nested many-to-one not working"
It seems `where` clauses on a nested many-to-one relationship are ignored.

I've updated the example app to demonstrate the problem. There aren't enough '-to-one' relationships available in the example model to recreate so I've added a new one - a Droid's PrimaryFunction replacing `String primaryFunction`:

https://github.com/molexx/graphql-jpa-query/tree/filterNestedManyToOne/graphql-jpa-query-ex

[2019-02-05 03:06] igdianov commented on #76
@molexx It is a requirement in GraphQL spec to specify a field inside composite field, i.e. the composite field cannot be empty.

What you are looking for should be something like this (with implicit `where: {}` schema generated for JPA entity attributes) :

[code]
It should be possible refactor schema builder and query data fetcher to do something like this. Do you want create a PR with a failing

[2019-02-05 03:09] igdianov commented on #77
@molexx This is good one! Can you send the PR with the failing test case. I will look into it. Thank you!

[2019-02-05 11:34] molexx commented on #76
Sure. Is there a tricky reason why relationships are currently excluded from where clauses?

[2019-02-07 12:00] #57 closed

[2019-02-07 12:52] Danilo-Araujo-Silva commented on #57
Thanks a lot @igdianov for the example and the work =)

[2019-02-07 19:15] igdianov commented on #76
@molexx I vaguely remember there was a problem in earlier graphq-java library that was limiting the exposure of root DataFetching context. It is not a problem anymore in version 11.

[2019-02-07 21:39] igdianov commented on #44
@molexx I have created an example that wires, builds and merges two schemas from different Sql data sources into a single GraphQL schema using graphql-jpa-query-autoconfigure mechanism.

The mutations can now be added via graphql-java api schema instrumentation or graphql-java-tools library via the same mechanism. I am going to create a mutations example that uses Spring Data Repository integratio

[2019-02-08 01:04] igdianov opened #80 "It would be nice to support LIKE with list attributes"
so, the query like this

[code]
will result in:

[code]

[2019-02-08 01:05] igdianov opened #81 "Check support for mapping Enum types via query variables."

[2019-02-17 14:11] molexx commented on #76
I'm making some progress but need some pointers please...

What's the best way to handle this around `QraphQLJpaBaseDataFetcher.getFieldPredicate()`? It's possible to recurse along the Fields until a Criteria (the 'IN' in the above example) is reached but `PredicateFilter` doesn't handle multiple fields nor have any notion of a parent/child hierarchy. Might building up a JPA path String, using dot

[2019-03-11 05:38] #72 closed

[2019-03-11 06:29] igdianov opened #89 "Implement Directive instrumentation support"
Related to #60

[2019-03-11 06:32] igdianov opened #90 "Create Mutations example"

[2019-03-11 14:19] darkrift opened #91 "Having 2 entities embedding common shared entity fails"
I have 2 entities embedding a 3rd entity which leads to the following error :

No provided type may have a name which conflicts with any built in types (including Scalar and Introspection types).
You have redefined the type 'AddressEmbeddableType' from being a 'GraphQLObjectType' to a 'GraphQLObjectType'

In spring, EmbeddableTypeImpl doesn't implement hashcode nor equals for which GraphQLJpaSchem

[2019-03-11 14:19] darkrift opened #92 "Reactive and webflux ?"
I am trying to setup a reactive environment but the starter is only for webmvc :

The bean 'requestMappingHandlerAdapter', defined in class path resource [org/springframework/boot/autoconfigure/web/servlet/WebMvcAutoConfiguration$EnableWebMvcConfiguration.class], could not be registered. A bean with that name has already been defined in class path resource [org/springframework/web/reactive/config/

[2019-03-11 15:02] igdianov commented on #91
@darkrift Can you post the minimal entity schema that causes the error?

[2019-03-11 15:14] igdianov commented on #92
@darkrift I don't think it is directly related to Graphql-jpa-query. In SB 2.1, bean overriding has been disabled by default. You can try to enable it, but I don't think it is a good idea. You can also try disable SB Reactive auto configuration. Do you `@ComponentScan` in your application?

[2019-03-11 16:11] molexx opened #93 "0.3.14 regression: spring.graphql.jpa.query.path must be specified now"
Not a high priority as there's a simple solution... but 0.3.14 refuses to start up because `spring.graphql.jpa.query.path` is not defined. Which is odd because it is defined in `default.properties` which is referenced by `GraphQLJpaQueryProperties`. I have both `graphql-jpa-query-autoconfigure` and `graphql-jpa-query-boot-starter` as dependencies.

Simple workaround foe now is to add:
`spring.grap

[2019-03-11 16:16] igdianov commented on #93
@molexx Thank you for reporting this. I will take a look.

[2019-03-11 16:57] #93 closed

[2019-03-11 17:03] darkrift commented on #91
https://gist.github.com/darkrift/424ec218e7481c342703e180829029c0

[2019-03-11 17:11] darkrift commented on #92
The problem is that graphql-jpa-query-boot-starter includes the following dependency :

    <dependency>
      <groupId>org.springframework.boot</groupId>
      <artifactId>spring-boot-starter-web</artifactId>
    </dependency>

However, in the app I am building, I am using spring-boot-starter-webflux which conflicts with spring-boot-starter-web.

spring-boot-starter-webflux (or one of it's depend

[2019-03-11 17:24] igdianov commented on #93
@molexx fixed in 0.3.15

[2019-03-11 18:32] igdianov commented on #92
@darkrift Yes, I see. You can try to `<exclude>` spring-boot-starter-web in your project inside `graphql-jpa-query-boot-starter` dependency. Let me know how it works.

[2019-03-11 18:32] igdianov commented on #91
@darkrift Thank you! I will take a look.

[2019-03-11 19:24] darkrift commented on #91
Something to also keep in mind while handling this is the attributesoverride mapping, for instance :
    @AttributeOverrides(value = {
            @AttributeOverride(name = "address1", column = @Column(name = "adresse1")),
            @AttributeOverride(name = "address2", column = @Column(name = "adresse2")),
            @AttributeOverride(name = "codePostal", column = @Column(name = "code_postal"

[2019-03-11 19:47] molexx commented on #92
Reactive/webflux doesn't support JPA... AFAIK?

[2019-03-11 20:01] molexx commented on #76
@igdianov do you have a moment to have a look at this please? I'd like to implement it but need some pointers! Thanks

[2019-03-11 20:11] igdianov commented on #92
JPA Hibernate provider does not support Spring R2DBC. The problem here is that GraphQL Rest Controller does not support Flux return types. I can add support for it via starter if there is interest.

[2019-03-11 20:18] igdianov commented on #76
@molexx I will take a look.

[2019-03-11 21:00] darkrift commented on #92
@molexx there is no relation between webflux and JPA. One is to route requests to your “controllers”, the other is your ORM between your business logic code and the database. How you return the data is another story but they are not linked.

Spring boot adds an interceptor when configured with webmvc to open a transaction for the request. This can be disabled and is not necessary.

You can also ma

[2019-03-11 22:36] molexx commented on #92
Webflux expects reactive/async/non-blocking all the way down, which JPA and JDBC cannot provide. Trying to wrap JPA in there will block threads that webflux/netty isn't expecting to be blocked so at best any supposed gains of webflux will be lost and at worst everything will grind to a halt.
All the official examples/demos use mongo which is has reactive support in spring-data but is not JPA.

@ig

[2019-03-11 23:50] igdianov commented on #92
@molexx I am not planning to support R2DBC at the moment and in the future for now.

@darkrift It should be possible to provide Rest controller with Webflux by exposing GraphQL.executeAsync via GraphQLExecutor and then map CompletableFuture result into Mono<> return type. However, it adds a lot of plumbing to bridge the gap between blocking JDBC, async GraphQL execution and reactive Webflux.  I th

[2019-03-12 01:21] darkrift commented on #92
Fair enough, maybe when R2DBC and JPA will fill the missing links will that be a better option.

[2019-03-12 09:05] molexx commented on #76
Great, thanks! I'll try it out.

[2019-03-12 13:07] darkrift commented on #91
Another use case to take into consideration is if we embed the same object, multiple time on the same entity as well. For instance, if we wanted to represent a phone number by an embedded object and mapped on a different column.

[2019-03-12 19:14] igdianov commented on #91
@darkrift I already made some changes locally to fix the problem. It should be fixed in the next release.

[2019-03-12 21:09] #92 closed

[2019-03-14 09:43] molexx opened #97 "Nested relationship queries in where clauses"
In a top level where clause you can only use a relationship of the first entity, after that you can only use simple attributes not relationships.

For example:
[code]
you can say '`author: {id: `' but you can't say '`author: {books: `'.
Would it be possible to allow this please?

There are comments on this in #96.

[2019-03-14 09:54] molexx commented on #97
RE https://github.com/introproventures/graphql-jpa-query/pull/96#issuecomment-472544018, just thinking out loud on how this might work:

How about walking the tree in the where clause and storing up the defined predicates for entities that are not in the initial select. Then as the rest of the query/sub queries are built from the projection selection, check to see if there is a predicate stored fo

[2019-03-14 09:57] #76 closed

[2019-03-14 10:29] #91 closed

[2019-03-28 13:39] molexx opened #101 "Missing relationship data causes parent data to not be returned"
If a query nests to a relationship and there are no rows for that relationship then the parent's data is not returned.

e.g.:
[code]
returns 5 humans. Some have a homePlanet of null and that's fine.

But if you also want to see those humans' favoriteDroid:
[code]
it only returns 2 humans. Those who don't have a favoriteDroid aren't listed. I think they should be listed and just have a favouriteDro

[2019-03-29 19:33] dineshsriram commented on #56
@igdianov Can you expand on how I can add missing data types to the registry?

I'm looking to add `Instant` and other custom data types but I don't see a way to easily add them to JavaScalars registry in my application.

[2019-04-06 03:55] chanhengseang3 opened #102 "Build time return NullPointerException on get/set prefix method name in entity class"
Updating from 0.3.13 version to 0.3.17 returns `NullPointerException` . When class `GraphQLJpaSchemaBuilder` tries to search for `@Transient`  , class `IntrospectionUtils`  tries to read all the methods that have name start with `get` or `set`. Whenever the `Entity` class contains methods that have prefix  `get` or `set` then it will try to find that properties. If the properties are not found the

[2019-04-07 21:52] igdianov commented on #102
@chanhengseang3 Thank you for reporting the issue. Could post an example entity class that causes the problem to help me build the test case. Thank you!

[2019-04-07 23:27] igdianov commented on #101
@molexx Good catch! I have created the PR to fix this. Do you think it will make sense to apply JPA schema semantics in order to build queries based on `optional` attribute specified using JPA's  association annotations:

[code]

[2019-04-07 23:28] igdianov commented on #77
@molexx Sorry for delay. I will take a look at this

[2019-04-07 23:54] molexx commented on #101
Thanks!

That makes sense... But does JPA enforce that anyway when it runs the query and tries to build its object graph?

[2019-04-08 03:33] igdianov commented on #101
I think Hibernate persistence provider does use `optional` parameter on association annotations as a hint to create query for fetch graph at runtime when loading the entities. For example, relations of the actual entity specified with optional=false result in an INNER JOIN to their respective relation when loaded, whereas relations specified with optional=true result in LEFT JOINs.

I had struggle

[2019-04-08 07:35] molexx commented on #101
Yes that sounds neat and flexible. Thanks!

[2019-04-09 21:36] goldbach00009 commented on #102
I have the same issue; with 0.3.10-SNAPSHOT it works fine, with 0.3.18-SNAPSHOT (same classes / same JPA model) I get two different issues related to @Transient. One of the issues can be traced somewhere around in this method

    @SuppressWarnings( { "rawtypes" } )
    private GraphQLFieldDefinition getJavaFieldDefinition(PropertyDescriptor propertyDescriptor) {
    	GraphQLOutputType type = getG

[2019-04-11 07:06] souphorn opened #107 "Enable/disable GraphQLIgnore annotation at runtime"
I faced with the issue that we cannot put the condition to ignore a certain entity. For example, an entity only accessible by the user A but not user B. If use current @GraphQLIgnore, it restrict all access to all.

Is there anyway that we can enable/disable @GraphQLIgnore at runtime?

[2019-04-12 22:54] igdianov commented on #107
@souphorn Thank you for your question. Could you explain your use case in more detail to help me understand the requirements. Do you need to hide some attributes from schema or restrict access to an attribute/entity at runtime per user?

[2019-04-12 22:54] igdianov commented on #102
Fixed on 0.3.18

[2019-04-12 22:54] #102 closed

[2019-04-15 03:37] igdianov commented on #97
@molexx I have created a PR to add support for nested relationships in where criteria expressions. See: https://github.com/introproventures/graphql-jpa-query/pull/108/files#diff-52f280238db11c302ce9ac4f3fc76b15R777.

It only supports `to one` relationships for now.

[2019-04-16 02:02] #81 closed

[2019-04-18 08:06] chanhengseang3 opened #110 "Having alias entity name for GraphQL schema"
I have trouble on build schema with these kind of entity :
* Entity's name ended with `es` (whenever `atteo.English`  try to convert it, it return original name , then schema will have duplicate type )
* Entity with duplicate name (there are some cases that there are entity with same name in different package and different table name)

I think alias name  on entity can fix this issues.

[2019-04-18 21:13] igdianov commented on #110
@chanhengseang3 You customize entity names in GraphQL schema using `@Entity("name")` to resolve duplicate class name conflicts. Can you post minimal example that causes problems?

The pluralizer library is not perfect. It is probably a good idea to be able override that with `@GraphQL` annotation attributes.

[2019-04-19 04:53] chanhengseang3 commented on #110
* I have one Entity Named: `DepositAccountInterestIncentives` , it gives error said there are duplicate type name , types in GraphQL schema are unique.
* i have `/java/../a/../Template.java` and `/java/../b/../Template.java` , returning same error.

[2019-04-19 07:25] igdianov commented on #110
@chanhengseang3 As I mentioned you can try to use JPA's `@Entity("alias")` annotation to resolve same name collision in GraphQL schema, i.e.

in a.Template.java use `@Entity("TemplateA") and in b.Template.java use `@Entity("TemplateB")`. This will generate GraphQl types with different names. You can also post a stack trace of the error to help me figure it out...

[2019-04-19 10:03] chanhengseang3 commented on #110
Thank you! problem solved.

[2019-04-19 10:46] chanhengseang3 opened #111 "GraphQL return different number of records when adding fields that is relationship to another entity"
I have this problem: i query a type with field that is basic type, it return correct result. but if i add another field with another type that has relationship to each other then the result may be incorrect.

Here's the use case:
[code]
returning:
[code]
and then
[code]
returning
[code]
i am expecting:
[code]
I'm not sure my expectation is correct. Please give the argument.

[2019-04-19 13:48] molexx commented on #111
This looks like #101 . The fix for it is in branch `igdianov-use-left-outer-join`. Please try it to see if it fixes it for you, there is a build on jitpack:

[code]

[2019-04-19 18:13] #110 closed

[2019-04-19 18:17] igdianov commented on #111
@chanhengseang3 You can try to use the PR https://github.com/introproventures/graphql-jpa-query/pull/105 as @molexx suggest. Let me know what you think. I am planning to add support for outer joins using JPA's annotation `optional` attribute to provide default join behavior with override.

[2019-04-19 18:24] igdianov commented on #77
@molexx I think I am going to deprecate embedded many-to-one where criteria expressions in favor of https://github.com/introproventures/graphql-jpa-query/pull/108. I do not like to deal with two implementations in the future.

[2019-04-21 06:33] igdianov opened #112 "Add query support for fields with @Convert"
So, that folks can query json stored as string in the record using text column, i. e.

[code]

[2019-04-22 18:36] Thihup opened #114 "Question: Select only the columns requested by the graphql query"
Currently the JPA query select all columns of an entity.
It would be possible to just select the requested fields?

[2019-04-22 20:16] igdianov commented on #114
@Thihup There is entity fetch graph provided in the query to persistence provider with only requested fields from the GraphQL query. It works as a hint for persistent provider implementation, i.e. Hibernate to generate SQL query that retrieves only requested fields. The persistence provider decided how to generate SQL query and map it to the objects.

[2019-04-22 20:16] #114 closed

[2019-04-22 20:53] #112 closed

[2019-04-22 22:14] #77 closed

[2019-04-22 22:14] #97 closed

[2019-04-23 04:14] chanhengseang3 commented on #111
Thank you!
Problem solved.

[2019-04-23 04:14] #111 closed

[2019-04-23 05:01] chanhengseang3 opened #118 "Distinct SQL does not work properly"
I've tried with distinct parameter but i does not work correctly. I have added the record with same values in column and then use graphql query it  using `(distinct:true)`, but it still return duplicate result. I tried it in my code and in sample code of library too. I do't know if there are any other configue are needed or there are issues in syntax.
![image](https://user-images.githubusercontent

[2019-04-24 05:39] igdianov commented on #118
@chanhengseang3 You can add the DISTINCT keyword to your query to tell Hibernate to return each Book entity only once. In JPQL the DISTINCT works on the entity level. It cannot be used to distinct scalar values from the query.

[2019-04-24 11:50] molexx commented on #118
Sorry, I'm confused, I can't find the expected usage: distinct isn't in the schema for me?

![image](https://user-images.githubusercontent.com/210764/56657211-5c83aa80-668f-11e9-9ed1-37dcf7259f08.png)

[2019-04-26 06:07] igdianov commented on #118
@molexx You need to enable distinct argument via GraphqlSchemaBuilder configuration : https://github.com/introproventures/graphql-jpa-query/blob/efc52785138b6e257cc03ca036fecbd92446efa0/graphql-jpa-query-schema/src/main/java/com/introproventures/graphql/jpa/query/schema/impl/GraphQLJpaSchemaBuilder.java#L205

[2019-04-27 17:07] molexx opened #122 "Should nested where criteria restrict nested data returned?"
Lets say I wanted to find all characters who appear in A_NEW_HOPE. This is straightforward:

[code]

Then if I wanted to include `appearsIn` in the results along with `id` and `name`, would you expect that array to be the full array of all films they appear in or would you expect just one item in the array - `A_NEW_HOPE`?

I'm not sure.

Currently it only returns the one item. It isn't a problem f

[2019-04-27 17:46] molexx commented on #118
Looks like it defaults to on, so should I expect this to only return the parent entity once?:

[code]

[code]

[2019-04-28 22:15] #101 closed

[2019-04-28 22:34] #122 closed

[2019-04-28 22:35] igdianov commented on #122
@molexx Thanks for the catch!

[2019-04-28 23:10] #118 closed

[2019-04-28 23:12] igdianov commented on #118
@chanhengseang3 Thank for catching distinct gremlin. It is now fixed in 0.3.24

[2019-04-29 02:53] leemarlow opened #125 "Is it possible to sort root objects based on nested fields?"
I see it's possible to sort nested collections, but is it possible to sort root objects by nested fields?

[code]
would return
[code]

[2019-04-29 04:36] igdianov commented on #125
@leemarlow Thanks for asking. I have been thinking about this already. It should be possible to implement something like this, i.e.,

[code]

It could be useful to support variable bindings for orderBy as well, i.e.
[code]
And pass `$orderBy` variable as Json at runtime:
[code]

What do you think?

[2019-04-29 04:56] igdianov opened #126 "Explore injecting where argument via variables"
so, that `where` argument can be constructed dynamically at runtime if needed, i.e.

[code]
with query variables:

[code]

[2019-04-29 14:57] leemarlow commented on #125
@igdianov I like that approach and think it could easily support multi-sort like you showed. However, I think nested sorting currently works according to https://github.com/introproventures/graphql-jpa-query/pull/22.

[2019-04-29 15:05] igdianov commented on #125
@leemarlow Right! I forgot about this. This method is not the best for performance, because it creates an additional query for each parent record.

[2019-05-03 04:56] chanhengseang3 commented on #118
i don't think it work
![image](https://user-images.githubusercontent.com/26960131/57120263-69dd1b00-6d9a-11e9-9470-2e1288e77db6.png)

[2019-05-07 14:54] molexx commented on #114
For reference, this is a known bug in Hibernate: https://hibernate.atlassian.net/browse/HHH-8776

[2019-05-10 14:16] Thihup commented on #90
It would be possible to generate mutations like [this](https://docs.hasura.io/1.0/graphql/manual/mutations/index.html) one?

[2019-05-24 07:10] chanhengseang3 opened #142 "Getter/Setter of @Transient field return "type can't be null" error"
I have tried @Transient on basic Java type like `String` or `Int` , it works ok.
But when i try @Transient on field with Java Class type having getter/setter , it return error.
[code]
This will return "type can't be null" exception.

[2019-05-24 07:49] chanhengseang3 opened #143 "Distinct query on field still not working"
This is how i register GraphQL schema
[code]
I can see the `distinct` parameter but the result are not correct anyway.

[2019-05-24 07:53] chanhengseang3 opened #144 "Feature flag does not work"
we want to `enable/disable`  graphql api on starting instance.
Here is the configuration on `application.properties`:
[code]
but this does not work properly. Is there any kind of other configuration needed?

[2019-05-27 14:22] Thihup opened #145 "Every query be also a subscription"
Would be possible make every query be a subscription too like [Harusa](https://docs.hasura.io/1.0/graphql/manual/subscriptions/index.html)?

Related:
https://github.com/introproventures/graphql-jpa-query/issues/20

[2019-05-29 02:47] Thihup commented on #126
I really need this feature. Could you please implement it @igdianov?

[2019-06-03 15:32] MurrayFurtado opened #146 "Pagination not return correct number of records"
I am using v0.3.25 running against Oracle, and I execute the following query:

`      query {
        PositionCurrents (page: {start:1, limit: 100}, where : {
                portfolio: { id : { EQ : 1110 }, currentFlag : { EQ : "y"} },
                businessDate: { EQ : "2019-05-30T00:00:00.000Z" }
      }) {
        pages
        total
        select {
          	id,... etc
}
}
`

The pages an

[2019-06-03 16:55] MurrayFurtado commented on #146
After digging in the source code, the problem seems to be that in GraphQLJpaQueryDataFetcher only distinct records are being returned because of the line -

 Collection<?> resultList = isDistinct ? new LinkedHashSet(query.getResultList()) : query.getResultList();

I think if the resultList size doesn't equal the pageSize an exception should be returned.  Also how does one set the isDistinct flag?

[2019-06-04 10:54] phuongphally opened #147 "GraphQLDescription annotation Can not read from Properties files"
Annotation @GraphQLDescription( value ="${message}")  not read from Properties files

[2019-06-10 11:11] MurrayFurtado opened #150 "Help! Bug? How to query timestamp columns?"
I am trying to query a JPA entity with a datetime column eg

   @Column(name = "EFFECTIVE_END_TSTAMP")
    @Temporal(TemporalType.TIMESTAMP)
    private Date effectiveEndTimestamp;

However if I pass the following to my query:

effectiveEndTimestamp: { EQ : "2009-12-31T13:02:03"}

this gets converted to a date,  losing the time information when performing the query, due to the GraphQLDateCoercing

[2019-06-24 16:12] MurrayFurtado commented on #150
I managed to resolve this issue myself by overwriting the default Date.class scalar registered as follows:

[2019-06-24 16:25] MurrayFurtado opened #152 "Enhancement request to allow predicates in joins."
Is it possible to generate queries with the framework which allow predicates in joins, ie results in SQL being generated like the below:

select ...
From Position pos
inner join Portfolio port on (pos.portfolio_id = port.portfolio_id and port.current_flag = 'y')
left outer join Security sec on (pos.security_id = sec.security_id and sec.current_flag = 'y')

As far as I can tell this feature is avai

[2019-06-27 15:54] Syreniac opened #153 "GraphQLIgnore is checked against Methods but cannot be applied to them"
I have a somewhat dated model implementation that includes some data that I cannot easily expose via GraphQL, and this causes problems when creating the schema due to the unmappable types. To avoid this, I went through and annotated all the relevant fields with the @GraphQLIgnore annotation. For example (as a cut down version of this problem):

[code]

When I made all these changes and started the

[2019-06-27 16:45] Syreniac opened #154 "Transient fields are not excluded by default from the built schema"
I have a somewhat dated model implementation that includes some transient methods that I do not want to expose via GraphQL, For example (as a cut down version of this problem):

[code]

Realistically Transient methods should not be included in the graphql schema because it likely makes no sense to query for the values expressed by them (unfortunately I can't simply remove these due to them being r

[2019-07-08 13:36] nbon12 opened #155 "NoSuchMethodException: java.lang.Character.<init>(java.lang.Object)"
GraphQL seems to be working fine, and data is returned as normal, but I get an exception that I'm not sure if I should be worried about every time I run a query to a hibernate in-memory database.

`java.lang.NoSuchMethodException: java.lang.Character.<init>(java.lang.Object)
	at java.lang.Class.getConstructor0(Class.java:3082)
	at java.lang.Class.getConstructor(Class.java:1825)
	at com.introproven

[2019-07-11 08:37] tuncaendios opened #156 "Apparent connection leak detected"
When we run the graphQL query on default controller (which is on port 8080) the MySQL connection is not released back to our Hikari pool. Even the connection dies after some time (for example wait_timeout=120 seconds on MySQL), this graphQL playground screen is still using that dead connection with the parameters we are  using below.

[code]

Exception stack trace:

java.lang.Exception: Apparent c

[2019-07-25 08:48] SinaiNIN commented on #150
@MurrayFurtado It doesn't work

[2019-07-25 08:54] SinaiNIN commented on #150
@MurrayFurtado I tried as you did, but it error
[code]

[2019-07-25 10:17] MurrayFurtado commented on #150
Your date format is incorrect. You need a : in your timezone ie - +00:00
I also discovered if you are using multiple datasources, you have to register the GraphQLScalarType with a unique name eg. "DateTime1","DateTime2", etc as otherwise it throws an error.

[2019-08-02 03:03] SinaiNIN opened #157 "The query do not support with `java.time.*`"
When I tried to query then I got an error:
[code]

also, console log:

[code]
java.lang.NoSuchMethodException: java.time.LocalDateTime.<init>(java.lang.Object)
	at java.base/java.lang.Class.getConstructor0(Class.java:3350)
	at java.base/java.lang.Class.getConstructor(Class.java:2152)
.......................
[code]

[2019-08-10 07:51] #157 closed

[2019-08-12 11:36] molexx opened #160 "Restricting data based on user"
We have a need to restrict the tables, rows and columns that are returned based on the calling user.

It's straightforward to authenticate the user using Spring; then the user's roles and an `@Entity` representing the user in a table in the db are available in the SecurityContext.

Examples of business rules:
- Only users with 'ADMIN' role can access the table/entity 'audit_log'
- Rows in the 'use

[2019-08-12 20:06] igdianov commented on #160
@molexx It is possible to restrict tables and columns based on user permissions by augmenting original schema at run time and using the modified schema to execute query requests. It is a cheap operation and is going to be easy to implement. .

To restrict rows, it should be possible to augment the query with hooks to add specific domain entities restrictions to the query predicates.

I will  inves

[2019-08-14 10:53] anotender commented on #126
Hi @igdianov,

Have you had a chance to investigate the issue? From what I saw, it looks like there are 2 possibilities:
1. We can try to adjust the [QraphQLJpaBaseDataFetcher.getValue](https://github.com/introproventures/graphql-jpa-query/blob/master/graphql-jpa-query-schema/src/main/java/com/introproventures/graphql/jpa/query/schema/impl/QraphQLJpaBaseDataFetcher.java#L381) and build the proper

[2019-08-14 22:32] molexx commented on #160
@igdianov like it!

Is it cheap enough to build the schema per HTTP request or would it be built once per session and cached in the session?

Thanks.

Yes, for testing I think I'll need to add some fields to the StarWars schema that should be private. We could use the 'friends' relationship to test rules like 'can only see friends of a friend'. Maybe the light side/dark side characters cannot see

[2019-08-16 08:15] igdianov commented on #126
@anotender Thank you for you comment. I am a bit busy with another project at the moment, but if you want to start a PR to make a contribution, you are very welcome to do so.

The best approach is to make a unit test that blows up and then try to figure out how properly resolve complex argument values from `DataFetchingEnvironment` using `graphql-java` Api before building query. After the argument

[2019-08-16 08:20] igdianov commented on #160
@molexx Yes, decorating schema at runtime is a cheap operation that can be done per request. I will add a factory method in GraphQLExecutor to be able to do that. You can decide if you want to cache it per user if needed. Stay tuned. I will make a crack at it over the weekend.

[2019-08-16 08:22] igdianov commented on #156
@tuncaendios It does not look a problem with the library. My best guess is that your db connection pool configuration is the problem.

[2019-08-16 08:22] #156 closed

[2019-08-16 08:25] igdianov commented on #155
@nbon12 Sorry for delay in reply. Can you post a snippet of your JPA entity model and a query that causes the exception?

[2019-08-16 08:27] igdianov commented on #154
@Syreniac Sounds good to me! I will add support for `@Transient` annotation to exclude such fields.

[2019-08-16 08:28] igdianov commented on #153
@Syreniac You are welcome to make a PR to solve this problem for yourself and other users.

[2019-08-16 08:34] igdianov commented on #152
@MurrayFurtado This is a proprietary Hibernate annotation. The library only uses JPA 2.1 specification and APIs to transform GraphQL queries into JPA Criteria queries.

[2019-08-16 08:34] #152 closed

[2019-08-16 08:35] #150 closed

[2019-08-16 08:36] igdianov commented on #147
@phuongphally Yes, it is on supported. You are welcome to make a PR to solve this issues for yourself and other users.

[2019-08-16 10:30] anotender commented on #126
@igdianov great, thanks for help! In such case I'll try to proceed with the development and publish my PR shortly so you can have a look and check if it is valid.

[2019-08-16 12:28] anotender commented on #126
@igdianov is it possible to add me as a collaborator to the project so I can create a branch and push changes?

[2019-08-17 10:31] #144 closed

[2019-08-17 11:18] igdianov commented on #143
@chanhengseang3 You may be missing hash() and equals() implementations in your entity classes.

[2019-08-17 11:18] #143 closed

[2019-08-17 11:19] igdianov commented on #145
The GraphQL subscriptions are outside of the scope for this library.

[2019-08-17 11:19] #145 closed

[2019-08-17 14:32] igdianov commented on #126
@anotender You can start a PR for your fork if you want to make any changes. This is the best way.

[2019-08-19 06:23] anotender commented on #126
@igdianov sure, I'll add my test cases to your branch on my fork repo and will link it here so you can have a look at it

[2019-08-19 09:06] anotender commented on #154
@igdianov @Syreniac I am not sure if we want to exclude transient fields by default. What do you think? Such behaviour should be configurable in my opinion. Wha do you think?

There is something more I found regarding transient fields. When there is a transient method returning some complex type like e.g. entity then it is not mapped correctly in response.
[code]
Is it possible in any way to make

[2019-08-20 05:31] igdianov commented on #154
I agree that excluding transient fields by default is not a good idea. We could use GraphQL Schema transformation after build to apply a filter function for any transient fields.

@anotender I think the best approach to address complex return type is to use add support for custom output type builder with ObjectScalar as default.

[2019-08-20 14:01] anotender opened #166 "Missing support for String and Object arrays"
Application fails when in encounters `String[]` or `Object[]` while building schema. It is missing in the `scalarsRegistry` in the `JavaScalars` class and the library tries to register it but it fails because of regexp check failure. The solution that works for our case is to add following entries to the `scalarsRegistry`:
[code]

[2019-08-20 19:20] igdianov commented on #166
@anotender Do you think it would make sense to support direct mapping of Java arrays into GraphQL lists type wrapper, i. e. String[] > [String]?

[2019-08-20 22:39] molexx commented on #160
Aha that looks great, thanks @igdianov!

Would it be appropriate to add a `GraphqlFieldVisibility` implementation that builds the list of fields using rules from some kind of configuration defined near the JPA Entities?

What pattern do you think fits?

Some thoughts:
- Per-column annotations using Spring's SPEL e.g.:
`@PreAuthorize("hasRole('ROLE_ADMIN')")`

- Per-column annotations like Jackson'

[2019-08-21 08:04] anotender commented on #166
@igdianov for the readability of the schema it looks like it is a good idea. In my opinion it could be implemented this way.

[2019-08-22 07:08] anotender opened #167 "Description is not inherited from the parent class"
Description is not inherited from the parent class when the @GraphQLDescription annotation is put on getter. The following error is visible in logs:
`class 'x.y.z.ChildClass' contains method 'getValue' which is an accessor for a Field named 'value', error getting the field`
It looks like GraphQLJpaSchemaBuilder#getSchemaDescription does not look for the superclass properties while fetching the fie

[2019-08-23 16:52] igdianov commented on #160
@molexx I am thinking to add support for GraphQL directives mapping from Java annotations. Then, you can apply GraphQLVisibility function to hide fields in the schema based on ExecutionInput context, i.e. User roles and directive information, i.e. allowed roles.

For example, we can use JSR-250 `@Secured` annotation on entity classes and attributes to specify roles are allowed to view them. Then,

[2019-08-24 13:40] #153 closed

[2019-08-24 14:00] #126 closed

[2019-08-24 14:36] #154 closed

[2019-08-24 14:39] igdianov commented on #167
@anotender It is now possible to use IntrospectionUtils to inspect entity class fields inherited from parent class: https://github.com/introproventures/graphql-jpa-query/blob/5a4ddad0e9f53b80bd078d00f8ffe10655472363/graphql-jpa-query-schema/src/main/java/com/introproventures/graphql/jpa/query/schema/impl/IntrospectionUtils.java#L98

[2019-08-28 09:28] pierrefoyard opened #172 "Fails on bean properties starting with upper case"
Hi,
My Database contains columns starting with uppercase (for example "Folder_ID").
We keep these column names in JPA beans, so we have beans like:

[code]
This leads to fatal exception in GraphQLSchemaFactoryBean at parsing stage.
I get this issue with 0.3.28 and 0.3.29-SNAPSHOT.
In debug mode I noticed that this problem comes from the fact that in GraphQLJpaSchemaBuilder::getEntityAttributesFiel

[2019-08-28 10:46] igdianov commented on #172
Thanks for reporting the issue. I will look into it to find a workaround.

[2019-08-29 04:06] SinaiNIN opened #174 "NoSuchFieldException: Property not found when declare private access modifier on getter method"
There is an error what throwing `NoSuchFieldException` when declare `private` access modifier on `getter method`.

**Error**
[code]
**Example of Code**

[code]

[2019-08-29 06:24] anotender commented on #174
@igdianov @SinaiNIN it is probably a similar concern to the one I mentioned in this [comment](https://github.com/introproventures/graphql-jpa-query/pull/168#discussion_r317607769). It is a question whether we really want to throw an exception in such case?

[2019-08-29 06:58] igdianov commented on #174
@SinaiNIN I have created a test case for the issue to try reproduce the issue. Feel free to create a PR into https://github.com/introproventures/graphql-jpa-query/pull/175 branch with your test cases.

@anotender I think that not throwing exceptions like that will hide problems, i.e. when using wrong attribute name for introspection. It is better to fail fast to be aware of any such problems. Thes

[2019-08-29 08:19] francescopace opened #176 "Error querying entity with @IdClass"
I've an entity bean with @IdClass annotation (multiple id columns).
This kind of annotation is not well supported by this framework and every query will fail due to:

https://github.com/introproventures/graphql-jpa-query/blob/82be5d5e3773923119cc549052875e6f9e3ee050/graphql-jpa-query-schema/src/main/java/com/introproventures/graphql/jpa/query/schema/impl/GraphQLJpaQueryDataFetcher.java#L190

You s

[2019-08-29 14:00] anotender commented on #174
@igdianov I've investigated a little bit the NoSuchFieldException that is thrown during startup with our app's entity model and here are my observations:

1. The exception is thrown when there is a protected getter in the entity. Such entry exists in the metamodel but is not introspected by the `IntrospectionUtils` as it takes public properties into consideration only.
2. Very similar to the one a

[2019-08-30 05:59] igdianov commented on #176
Thank you for feedback and the tip. I will take a look at it tomorrow

[2019-08-30 06:06] igdianov commented on #174
I have found out how Hibernate handles property and field access: https://github.com/hibernate/hibernate-orm/blob/master/hibernate-core/src/main/java/org/hibernate/property/access/internal/PropertyAccessMixedImpl.java

I think will modify the IntrospectionUtils to follow Hibernate property access resolution strategy. It should solve the problem.

[2019-08-31 18:16] #176 closed

[2019-09-01 03:15] igdianov commented on #174
@anotender I had refactored persistent property detection in this PR: https://github.com/introproventures/graphql-jpa-query/pull/173

Please, take a look and let me know if it resolves your issue.

[2019-09-08 02:00] #172 closed

[2019-09-08 02:35] igdianov commented on #174
Fixed via https://github.com/introproventures/graphql-jpa-query/pull/173

[2019-09-08 02:35] #174 closed

[2019-09-08 02:36] igdianov commented on #142
Fixed via https://github.com/introproventures/graphql-jpa-query/pull/173

[2019-09-08 02:36] #142 closed

[2019-09-09 11:16] MurrayFurtado opened #185 "Is it possible to switch off lower(COLUMN_NAME) decoration on String equality check"
The framework is decorating all equality / like calls to String type columns with a lower() call. This is having a big impact on the efficiency of my queries. Can an option be added to opt out of this for a given field as it is not always necessary.

[2019-09-11 04:01] #185 closed

[2019-09-11 04:12] #19 closed

[2019-09-18 12:46] MurrayFurtado opened #191 "NullPointerException being thrown for unknown reason. No subsequent queries then succeed."
Any idea why this is happening? It just suddenly starts happening.

`java.lang.NullPointerException: null
        at org.hibernate.engine.internal.StatefulPersistenceContext.clear(StatefulPersistenceContext.java:235)
        at org.hibernate.internal.SessionImpl.internalClear(SessionImpl.java:395)
        at org.hibernate.internal.SessionImpl.clear(SessionImpl.java:387)
        at sun.reflect.Gene

[2019-09-18 13:59] anotender commented on #114
@igdianov Is it possible to resign from adding fetchgraph hint in favor of building the multiselect clause in `QraphQLJpaBaseDataFetcher#getQuery` by ourselves? Has it ever been considered? I've tried amending the code around there but I have troubles with properly mapping the result to the GraphQL result. I am not sure how much effort will it require.

[2019-09-21 16:47] igdianov commented on #191
@MurrayFurtado The `GraphQLJpaQueryDataFetcher.get` is calling `EntityManager.clear()`  clear session persistent context to avoid getting stale objects cached in the same session between requests with different search criteria:

https://github.com/introproventures/graphql-jpa-query/blob/7ce947d72b9dc6ce0e64d35dadf0d4b21a3f5dd7/graphql-jpa-query-schema/src/main/java/com/introproventures/graphql/jpa

[2019-09-21 18:21] #191 closed

[2019-09-24 15:34] MurrayFurtado commented on #191
So I have updated to the latest hibernate version and this issue still persists and is unrecoverable from - ie my server needs restarting.  Can you not put some exception logic in to plug this? How else can I handle it?

The exception has a similar stacktrace:

`java.lang.NullPointerException: null
	at org.hibernate.engine.internal.StatefulPersistenceContext.clear(StatefulPersistenceContext.java:2

[2019-09-25 04:04] SinaiNIN opened #193 "Error in GQL Queries when `total` or `pages` is included with condition `where: NOT_EXISTS` or `EXISTS`"
We able to get query result at least `null array`  if we do not provide condition `where: NOT_EXISTS or EXISTS`. But if we provide with `where: NOT_EXISTS or EXISTS` then result will be default `error`.

[2019-09-25 09:41] anotender opened #194 "OrderBy argument not recognized when supplied as a variable"
When we put OrderBy argument as a variable it is not properly resolved.

[2019-09-26 02:30] #194 closed

[2019-10-01 17:13] MurrayFurtado opened #197 "Feature request: Metrics Instrumentation Hook"
Hi,

I need to send metrics around my graphql queries to InfluxDb / Grafana.  Do you have a hook that I can attach to before / after the query is run so that I might capture metrics? Or a recommended approach to doing this?

Thanks

[2019-10-01 20:53] vokinpirks opened #198 "Join Fetch applied twice for ElementCollection"
Hi!
I'm playing around with this library and encountered an issue.
I have pretty simple JPA model. There is element collection defined as follows:

[code]
When I do NOT include this field in query everything works fine:
[code]
But when I do so, I get an empty result:
[code]
'tags' field is empty for all entities.
I checked generated JPQL/SQL queries and found out that there are two joins for tags,

[2019-10-01 22:55] igdianov commented on #197
@MurrayFurtado It is possible to post-process `GraphQLSchema` to add any instrumentation for tracing, authorization, or metrics export. This could be done per request, session, or once for application start using the following technique to transform existing schema using Graphql-java Api. See the following example in this PR to add instrumentation per request: https://github.com/introproventures/g

[2019-10-01 23:17] igdianov commented on #198
@vokinpirks Thank you for reporting this problem. :) There should be only one fetch join generated for element collections here: https://github.com/introproventures/graphql-jpa-query/blob/98542527f0e72a78a3735bbedee15ceb69169b81/graphql-jpa-query-schema/src/main/java/com/introproventures/graphql/jpa/query/schema/impl/QraphQLJpaBaseDataFetcher.java#L233

The first join is needed to fetch the data f

[2019-10-01 23:19] igdianov commented on #193
@SinaiNIN Thank you for PR with failing test. I will take a look at it

[2019-10-02 10:15] MurrayFurtado commented on #197
@igdianov don't you need to merge in the PR to master and do another release before I can hook in to this? The PR is still in open state and unmerged.

[2019-10-02 11:00] vokinpirks commented on #198
@igdianov the first join is left whereas the second one is inner.
FYI the first join appears right after this call:
https://github.com/introproventures/graphql-jpa-query/blob/98542527f0e72a78a3735bbedee15ceb69169b81/graphql-jpa-query-schema/src/main/java/com/introproventures/graphql/jpa/query/schema/impl/QraphQLJpaBaseDataFetcher.java#L224

The line of code you are referring to always produces inn

[2019-10-02 14:46] MurrayFurtado opened #199 "More unrecoverable errors thrown. What to do?"
I have seen 2 different errors thrown by graphql-jpa-query which take down my spring boot app:

`
14:40:13.993 [https-jsse-nio-8080-exec-8] WARN  g.e.SimpleDataFetcherExceptionHandler - Exception while fetching data (/Positions) : null
java.lang.NullPointerException: null
        at org.hibernate.event.internal.AbstractLockUpgradeEventListener.upgradeLock(AbstractLockUpgradeEventListener.java:42)

[2019-10-02 15:46] igdianov commented on #198
@vokinpirks Yes, this is a bug. It should not be apply to fetch joins for element collections. It will be easy to fix.

[2019-10-02 16:25] igdianov commented on #197
@MurrayFurtado I wanted to let this PR sit for a bit to collect use cases. You can try to use it with Jitpack in your Pom.xml:

[code]

[2019-10-02 17:13] igdianov commented on #199
@MurrayFurtado The error happens inside Hibernate when it tries to initialize collections objects from SQL query. It just a wild guess, but I think you may have `hashCode` or `equals` that use collections to calculate hash. The collections proxy object may not be initialized yet, so it fails with NPE.  If it is the case, try to exclude collections from hashCode.

[2019-10-03 09:28] MurrayFurtado commented on #199
I have checked my code and all my collections are already excluded from hashcode operations. Do you know what else could cause this?

[2019-10-04 14:01] igdianov commented on #199
Does it happen consistently or intermittently? Can you reproduce it running a particular query for your IDE? Then, I would put a breakpoint at

[code]

and looked around for the cause of NPE.

[2019-10-05 20:15] #198 closed

[2019-10-06 21:02] #193 closed

[2019-10-06 22:18] igdianov commented on #198
@vokinpirks I have fixed the issue. Let me know if it works for you.

[2019-10-07 16:03] negesti opened #202 "Update to graphql-java v13.0"
Any plans to ugprade the graphql-java dependency to v13.0 ?

I have checkout the master branch and managed to compile the project again. The biggest problems i faces (so far) are:
* The DataFetchingEnvironmentBuilder was removed
* Fields (and all properties) are immutable
If you are planning to upgrade to v13 i will try to get all tests to run/work again

[2019-10-07 16:38] negesti commented on #202
ok, after spending some time with the custom NullValue all tests are working again

[2019-10-08 07:22] phuongphally opened #203 "After update from `0.3.28` to `0.3.33` got errors"
After update from `0.3.28` to `0.3.33` got errors has below

[code]

[2019-10-08 09:34] negesti commented on #203
I guess you have a column "LocalDate" somewhere in your entities?

[2019-10-08 14:52] MurrayFurtado opened #204 "How to force lower / upper on string equality check?"
I know in a previous commit you removed the lower(col_value) call to the string equality check as the default behaviour. Is it possible to override to do a case insensitive equality search?

Also I'd like to request more documentation around the framework, which could be more complete. For example you don't show how to use the AND or OR operators in your examples.

Keep up the great work!

[2019-10-08 17:15] igdianov commented on #202
@negesti Thank you for heads up! Would you be able to send a PR with the changes for Graphql-java 13.0?

[2019-10-08 17:17] igdianov commented on #203
@phuongphally Do you merge two schemas from different sources? If you use one entity manager it should not be a problem?

[2019-10-08 17:19] igdianov commented on #204
@MurrayFurtado I can add JPA's `LOWER` and `UPPER` string equality checks to modify the default `EQ` behavior. Will it work for you?

[2019-10-08 17:20] igdianov commented on #204
The documentation needs a lot of work. I have already started working on `Wiki` guides a few weeks ago.

[2019-10-08 17:25] MurrayFurtado commented on #204
Really I need the ability to override the default EQ behaviour so it forces
upper or lower in certain cases. Maybe you need to add both case sensitive
and case insensitive operators for string EQ?

On Tue, 8 Oct 2019, 18:20 Igor Dianov, <notifications@github.com> wrote:

[2019-10-08 19:14] negesti commented on #202
I will create a pr tomorrow

[2019-10-09 01:52] phuongphally commented on #203
I setup version   `0.3.28` with existing project then it works fine,
But after I change version from `0.3.28` to `0.3.33`

## Error response

Duplicate type from the entities

`ou have redefined the type 'EntityName' from being a 'GraphQLScalarType' to a 'GraphQLObjectType' `

`EntityName` are all entity from

[2019-10-09 08:09] phuongphally commented on #44
@igdianov We have completed basic `Update`, `Delete`, `Create`

[2019-10-09 09:59] vokinpirks commented on #198
@igdianov thanks! I'll try this out.

[2019-10-10 04:23] phuongphally commented on #203
@igdianov I use one entity manager. Do you have any ideas to help me?

[2019-10-10 05:26] negesti commented on #203
A wild guess, as the exceptions say "from scalar to object".
Have you defined your foreign key relations witch the same name as the entities?

[2019-10-10 05:57] phuongphally commented on #203
@negesti You said right. we define it. But the last version of `0.0.28` works well.

[2019-10-10 06:05] negesti commented on #203
If so, my next guess is that is related to #173 (if the properties are defined UpperCase).

Then the SchemaFactoryBean creates a GraphQLObjectType named "CodeValue"  and a "GraphQLScalarType" for the property. Changing the property name to "codeValue" should fix that.

[2019-10-10 06:59] phuongphally commented on #203
@negesti Thanks answer quickly to answer.

1) Your  AS "Changing the property name to "codeValue" should fix that. "  Sorry this answer I'm not clear.  I have CodeValue Class in project

[code]

I use in class like

[code]

I use many place with this class , So what should I do?  I have to change it all that has to reference?

[2019-10-10 07:05] igdianov commented on #203
@phuongphally This looks like a regression introduced in later versions. Can you create a PR with a minimal test example of the entity model that causes this error? I will fix it.

[2019-10-10 07:09] igdianov commented on #204
It is not clear to me what is your use case. The EQ behavior implies exact equality check. I can add additional predicate, i.e. `LOWER' for equality check with ignore case.

[2019-10-10 07:10] igdianov commented on #202
Thanks! I will take a look at it over the weekend.

[2019-10-11 08:03] phuongphally commented on #203
@igdianov  I'm still can not be fixed it.

`You have redefined the type 'AppUser' from being a 'GraphQLObjectType' to a 'GraphQLScalarType' `

If I change method `getGraphQLTypeFromJavaType` it work with just Type `GraphqlLong`

[code]

[code]

But I can not know how to fix it. Any ideas of that case?

[2019-10-11 17:28] igdianov commented on #203
@phuongphally I suspect the problem is with custom object scalar mapping, but I need an example that fails for test case. Can you post the minimal example with JPA models that cause the error? It will save me time to fix it..

[2019-10-13 00:01] #204 closed

[2019-10-16 15:54] MurrayFurtado commented on #197
Sadly because I'm sat behind a corporate firewall I can't use Jitpack. Is there any way you could merge this feature in to master, perhaps with a feature flag if is experimental.

Also I'm not clear on where and how to add the instrumentation code. Could you provide a skeleton example? How would I get hold of the query so I can inspect it and then send metrics to Influx.

Thanks

[2019-10-18 14:52] MurrayFurtado opened #208 "How to force lower on string LIKE evaluation?"
Is it possible to also add an LIKE_LOWER operator which will force lower on the like value being evaluated in the same way as you did for string EQ?

Thanks!

[2019-10-19 15:48] igdianov commented on #208
@MurrayFurtado I can add `LIKE_` search predicate and all its variants ('STARTS_`, `ENDS_`  for case insensitive search criteria. I favor to use `_` suffix as a modifier to case sensitive operation. Will it work for you?

[2019-10-19 15:50] MurrayFurtado commented on #208
Yes that would be perfect!

On Sat, 19 Oct 2019, 16:48 Igor Dianov, <notifications@github.com> wrote:

[2019-10-21 00:08] #208 closed

[2019-10-21 02:54] phuongphally commented on #203
@igdianov I'm sorry I can not find the problem with custom objects.

But what I found an issue on the library since upgrade from version `0.3.28` to  version `0.3.29`

You changed `IntrospectionUtils` with `CachedPropertyDescriptor`  to `.EntityIntrospector.EntityIntrospectionResult.AttributePropertyDescriptor` in `GraphQLJpaSchemaBuilder` and it is not cache maybe.

Can you check this if you have

[2019-10-21 03:58] phuongphally commented on #203
@igdianov It is errors from `.fields(getTransientFields(entityType.getJavaType())` if I comment it out it work fine

[code]

[2019-10-21 06:51] phuongphally commented on #203
@igdianov I found the problem because of method `isTransient()` no `@Transient` check

Current is
[code]
Change to

[code]

[2019-10-21 17:14] igdianov commented on #203
@phuongphally I tried to apply the fix, but it causes many existing introspection unit tests to fail. The entity introspection relies on JPA persistence provider to have `Attribute` metadata descriptor for each entity class attribute mapping, so `isTransient` should always be true if there is no matching JPA attribute.

Are you following camel case convention for naming entity attributes and gette

[2019-10-22 02:19] phuongphally commented on #203
Thank @igdianov for you tried to fix it.

In my project is following the camel case convention for naming entity and attribute.

I'm not sure I'm right but I try to find any code to check `@Transient` with the new version of your library don't have since the last version of `0.3.28` has it and working correctly.

Last version your code is

[code]

and current is

[code]

and

[code]

Please kindly

[2019-10-22 13:36] Crashou59 commented on #146
U can set isDistinct flag on ur shema builder, ex on ur configuration class :
`@Bean
@ConditionalOnMissingBean(GraphQLSchemaBuilder.class)
public GraphQLSchemaBuilder graphQLSchemaBuilder(final EntityManager entityManager) {
			return new GraphQLJpaSchemaBuilder(entityManager).setDefaultDistinct(false);
}`

[2019-10-22 14:54] MurrayFurtado commented on #197
I have tried adding this dependency to my pom but I see an error in Jenkins or locally when I try and build. In Jenkins the error is:

`09:16:05 [ERROR] Failed to execute goal on project coredata-api: Could not resolve dependencies for project com.mlp.coredata:coredata-api:jar:0.3.50: Failed to collect dependencies at com.github.introproventures.graphql-jpa-query:graphql-jpa-query-dependencies:pom

[2019-10-23 04:33] igdianov commented on #203
I can't fix it like this because it breaks detecting transient properties in the entity class. I need an example to be able to reproduce and investigate the cause.

[2019-10-23 04:38] igdianov commented on #146
@MurrayFurtado Can you extract your use case and post an example that reproduces the problem?

Do your entities implement equals and hashCode correctly?

[2019-10-23 08:08] negesti commented on #203
@phuongphally have you tried to move the @Transient from the property to the get/set or vice versa?

[2019-10-23 09:43] MurrayFurtado commented on #146
I believe this was due to an error on my part. I am closing this issue. Thanks.

[2019-10-23 09:43] #146 closed

[2019-10-23 10:36] MurrayFurtado commented on #197
So I have discovered that I can pull the following dependency via jitpack:
`        <dependency>
            <groupId>com.github.introproventures.graphql-jpa-query</groupId>
            <artifactId>graphql-jpa-query-dependencies</artifactId>
            <version>igdianov-executor-context-factory-gd963dd6</version>
            <type>pom</type>
            <scope>import</scope>
        </dependency>

[2019-10-23 16:57] igdianov commented on #146
FYI. The list of entities returned by the getResultList method may contain duplicates if the SQL query joins the associated database records, and the result set consists of combinations of a parent record with each child record. Unfortunately, Hibernate doesn’t resolve these duplicates by default, so the data fetcher need to deal with this by applying distinct to root entities of the fetch result.

[2019-10-24 08:20] MurrayFurtado opened #211 "Feature Request - group by clause"
Are there any plans to introduce aggregation operators to the framework?

[2019-10-24 10:38] phuongphally commented on #203
@negesti I only use it on properties

[2019-10-25 08:13] phuongphally commented on #203
@negesti Thanks, I try to test remove @Transaction from properties to the method  `setter`/`getter`, But still work the same.

[2019-10-28 21:31] igdianov commented on #211
@MurrayFurtado It should be possible to implement JPA aggregate expressions to fetch aggregated data via GraphQL queries, i.e. `count`, `sum`, `avg`, `max` and `min` (https://docs.oracle.com/html/E13946_04/ejb3_langref.html#ejb3_langref_aggregates)

For example, I can add the following `aggregate` block in the query to select data and calculate aggregates for the selection:

[code]

Do you have an

[2019-11-12 09:44] MurrayFurtado opened #214 "Bug- default sort always applied to queries even if they don't utilise paging"
Whenever pluralized queries are generated, a default sort is always applied regardless of whether paging is required.  This is unnecessary. Can the sort ONLY be applied to paging queries please. It's a performance hit on queries which don't need it.

Thanks

[2019-11-13 08:16] igdianov commented on #214
@MurrayFurtado The order by sort is applied for entity attribute annotated with `@Id` for primary key. It should not have significant impact on query performance in my opinion. Did you check the query plan generated by graphql query with and without default sort by primary key? What is the difference? What kind of data set size are you talking about?

[2019-11-14 09:26] chanhengseang3 commented on #203
@phuongphally @igdianov  The issue does not cause by `isTransient` method.  Instead you have to check if the @Transient field is an Entity in this method to prevent conflict.
https://github.com/introproventures/graphql-jpa-query/blob/master/graphql-jpa-query-schema/src/main/java/com/introproventures/graphql/jpa/query/schema/impl/GraphQLJpaSchemaBuilder.java#L987

I add this code so instance can st

[2019-11-18 11:44] MurrayFurtado commented on #125
@igdianov  Does multi sort work on the top level entity as of yet, or are we limited to just one orderBy column?

[2019-11-18 14:06] #214 closed

[2019-11-28 10:41] zhikaing commented on #107
@igdianov I like to add-on to this, as I am having similar use case.
I wanted to make use of spring security to enable/disable GraphQLIgnore on certain column. Basically filter fields on what user can see based on roles.
Additionally, I had also tried using the graphfieldvisibility option by providing my custom field visibility check and return null if a certain field def was not supposed to be vi

[2019-11-28 11:31] molexx opened #215 "Cannot query set of enums within select clause: Column "GENERATEDALIAS1" not found"
This:

[code]

errors with:

[code]

and the log says:

[code]

I think the syntax is OK because the same query but just using 'name' works:
[code]

and querying 'appearsIn' works in the top-level `where` clause:
[code]

[2019-11-28 16:54] molexx opened #216 "One-to-many queries join the same tables twice"
The `StarwarsQueryExecutorTests.queryOneToManyJoinByID` test looks like this:

[code]

and executes the following SQL:

[code]

It seems that the joins to `friends3_` and `character4_` duplicate the joins to `friends1_` and `character2_` and are unnecessary?

This is tested using commit 0151eec from master which includes the fix for #198 .

Removing the `where id=1000` clause makes no difference.

[2019-11-28 17:48] igdianov commented on #216
I know about this. The query builder actually creates a single join fetch, but Hibernate adds another fetch for many to many associations. It does not happen for one to many associations. I will investigate it further to double check.

[2019-11-29 12:23] molexx commented on #216
Thanks.

I'm investigating adding hooks to allow user-defined entity-specific predicates to be added when an entity is added to the query. In the example above it seems that https://github.com/introproventures/graphql-jpa-query/blob/5d99c3b4629521ebee2788c6b877250c279c8bf2/graphql-jpa-query-schema/src/main/java/com/introproventures/graphql/jpa/query/schema/impl/QraphQLJpaBaseDataFetcher.java#L233

[2019-11-30 21:24] igdianov commented on #216
@molexx This is the JPQL query generated before execution at https://github.com/introproventures/graphql-jpa-query/blob/master/graphql-jpa-query-schema/src/main/java/com/introproventures/graphql/jpa/query/schema/impl/GraphQLJpaQueryDataFetcher.java#L139

[code]

There is no extra fetch join generated by the library. The Hibernate adds this extra join for some reason only if it is a many-to-many as

[2019-11-30 21:27] igdianov commented on #215
@molexx Thanks for reporting this. It is bug for sure. I will investigate

[2019-12-01 08:05] #216 closed

[2019-12-01 08:37] #215 closed

[2019-12-01 14:31] molexx commented on #216
Thanks very much, will take a look!

Custom predicates is a generic solution to restricting rows that are returned using server-side rules, defined per-entity. My immediate use-case is by relation to the currently logged in user but let's design a generic system for others.

I'm working on a PR for this with a bunch of tests, I should be able to continue with the one-to-many ones now.

I'm adding

[2019-12-01 15:51] molexx commented on #215
Thanks! :-)

[2019-12-01 16:57] molexx commented on #216
RE the Hibernate CodeList queries ignoring the Lazy, I wonder if that is similar to #114 , which I think is because of this Hibernate bug: https://hibernate.atlassian.net/browse/HHH-8776

[2019-12-01 18:18] igdianov commented on #216
There is not much to be done about it at the moment. I have observed that CodeList hierarchy get loaded when the entity manager is cold, i.e. during the first query. After that, there are no extra queries generated for the second query, so it looks like it is cached by Hibernate.

[2019-12-01 18:40] igdianov commented on #216
Would you be able to start a new issue that describes the use case in detail? I have some ideas how to make it pluggable with annotation processing that use SpEL similar to https://spring.io/blog/2014/07/15/spel-support-in-spring-data-jpa-query-definitions

[2019-12-02 11:54] molexx opened #219 "Row-level filtering"
Whilst #163 is about hiding certain fields in the schema, there is a separate need to hide certain rows from the results depending on the query's context. As determining the filtering depends on the context, variables and db data at execution time the filter code needs to be run per-query as part of its execution. Usually (always?) that code will need to be Entity-specific, and may depend on the d

[2019-12-02 16:08] molexx commented on #219
@igdianov what do you think about the `igdianov-executor-context-factory` branch created for #163 ? I have merged it into my workspace - along with the `upgrade-to-graphql-java-13` branch - so that I can set executor/executionInput/environment Context properties at runtime.

Also I am interested in getting `GraphqlFieldVisibility` working soon.

[2019-12-02 17:57] igdianov commented on #219
I will make some minor refactoring in #163 to be able to configure context and execution input providers independently for better decoupling. I can also merge and release 0.4.x branch with graphql-java 13 support. Stay tuned.

[2019-12-02 18:08] igdianov commented on #219
@molexx This is how Spring Data uses Spring Security common security expressions  to augment repository methods with `@Query` annotations:

[code]

They can use the following [common security expressions](https://docs.spring.io/spring-security/site/docs/current/reference/html/integrations.html#data ) to augment predicates at runtime:

Expression | Description
-- | --
hasRole([role]) | Returns true

[2019-12-02 21:10] molexx commented on #219
Those spring-data `@Query` strings are the JPQL for the entire query, but for our usage they would need to be merged into the rest of the query that is already built up. Is that easy to do?
Whilst ensuring joins are reused effectively?

Those expressions are provided by Spring; possibly spring-security. I don't see a problem using them but it would tie graphql-jpa-query in to Spring, is that ok?

[2019-12-03 01:21] molexx opened #220 "Cannot nest multiple queries on the same table: Invalid path: 'generatedAlias1.name'"
This query is trying to find all Droids and show their friends where the friend has Luke Skywalker as a friend:

[code]

It errors with:
[code]

This is on master 963826fd.

[2019-12-03 17:09] Ernio3 commented on #219
I am pretty new to this project (which I take much greater pleasure in exploring compared to other's alike, just because it's code-first JPA) and actually whole GraphQL so mind my lack of detailed knowledge. Said that, additional point of view might be of help.

So I followed this and issues like #160 and can't help to wonder how to actually secure anything in any app. The issues presented include

[2019-12-03 17:37] Ernio3 opened #221 "Spring Security integration (user, role, permission, row/acl based authentication and authorization)"
I am pretty new to this project (which I take much greater pleasure in exploring compared to other's alike, just because it's code-first JPA) and actually whole GraphQL so mind my lack of detailed knowledge. Said that, additional point of view might be of help.

So I followed issues like #160 and #219 and can't help to wonder how to actually secure anything in any app using this lib. The issues pr

[2019-12-03 22:40] igdianov commented on #219
In Spring Data, the whole query is being evaluated using security context with method parameters and then used to get results. The query is static, so this will not work with GraphQL adhoc queries.

We need to try create a few tests to evaluate feasibility of using GraphQL SpEL expressions:

1. Before running query builder, we need to be able to intercept datafatcher get method call to traverse qu

[2019-12-03 22:50] igdianov commented on #219
It does not need to have a hard dependency on Spring Security. Spring Security expression could be added as an extension bean to SpEL evaluation context in order to be able to use them. The SpEL expressions used in annotations could simply use execution input context injected by provider implementation.

[2019-12-03 22:52] igdianov commented on #219
Let's try to define sample annotations for use cases and see if it makes sense. I will add my thoughts below

[2019-12-09 01:17] igdianov commented on #219
@molexx I took my time to contemplate and research the proposed approach with GraphQL expressions. I don't think it is feasible for several reasons, but the main reason is that it brings GraphQL filter expressions into JPA domain, i.e.

[code]

I think users should be able to define filter predicate SpEL expressions using familiar JPQL like dialect on entity classes using annotation, i.e. to speci

[2019-12-09 01:35] igdianov commented on #220
@molexx I had investigated this use case and realized that Hibernate does not map the results correctly with a fetch query that loads all friends nodes with their friends of friends nodes into the JPA persistence context. This is because the JPA spec requires that the same entity instance will exist only once in the same persistence context with all references will point to the same instance in th

[2019-12-09 15:37] molexx commented on #219
Yes looks good!

I'm experimenting with something similar but not quite that user-friendly yet.

Would the strings be JPQL with SpEL expressions in them? If so the SpEL parser could be used first to replace the values in the strings from the context, leaving us with a JPQL String.
But once we have it I don't know how to merge the JPQL string into the existing query?

[2019-12-09 18:59] igdianov commented on #219
Yes, the filters will be user-friendly JPQL expressions with SpEL in them. Initially, I think it will be OK to use SpEL parser to evaluate the expressions in order to replace SpEL placeholders. Then the filter expression can be parsed into AST in order to generate JPA Predicate against existing JPA query root with joins. The generated predicate will be added to the query predicate list.

This will

[2019-12-09 20:43] molexx commented on #220
Even if each instance has a unique alias provided?

I see that if aliases are not provided JPA/Hibernate is making them up - e.g. `character_1` - maybe it can get those wrong but if they were provided it might be ok?

[2019-12-09 21:18] igdianov commented on #220
The JPA provider distinguishes each entity instance by id regardless of the alias used in the fetch join is auto generated or not. It maps the result of the SQL query into object graph in the persistent context using entity id and uses the same reference in persistent collections of many associations. It works fine if your query graph does not contain cyclical references, i.e. `Droid->friends`

Bu

[2019-12-09 22:00] igdianov commented on #220
[code]

Here is the generated JPQL query:

[code]
SQL Query:
[code]

The query looks correct, but the mapped result is not correct. Notice that Luke Skywalker is not a friend of himself but still listed in the results and friends of friends are not filtered in the result.

[code]

![image](https://user-images.githubusercontent.com/20428629/70476544-c7052180-1a8b-11ea-8a9b-815477baa159.png)

[2019-12-09 22:47] igdianov commented on #220
I take it back. The query is mapped correctly, I think. I discovered that there is a weird Hibernate bug that causes the results of the query to cache in the persistent context. I have to call `entityManager.clear()` before `List<?> resultList = query.getResultList();` to make sure there is no side effects from previous query.

[code]
Acctually generates correct result with Luke Skywalker being a

[2019-12-10 12:43] molexx commented on #220
Great, thanks for investigating this.

I think the reason for that is that they are all outer joins. Setting `optional:false` on the where removes some of the outers but not all. Maybe we should be able to specify `optional:false` on each clause in the `where` rather than just once?

[2019-12-10 18:50] molexx commented on #220
I'm not sure about the outer joins now...

The above creates this SQL:

[code]

which if you run in HSQL console looks like this:

![image](https://user-images.githubusercontent.com/210764/70558710-56d6c880-1b7d-11ea-931e-55d8add53352.png)

these results look correct?

There are 5 rows - 3 for C3PO and 2 for R2-D2, column `name3_0_1_` correctly lists R2's friends Han and Leia but not Luke, where i

[2019-12-11 01:05] igdianov commented on #220
It looks like Hibernate loads R2-D2 entity and then uses its reference in the collection of C-3PO friends. The expected result in the C-3PO friends collection should have R2-D2 with a single Luke Skywalker entity. The R2-D2 references its own friends that makes the query result mapping into object graph incorrect.

![image](https://user-images.githubusercontent.com/20428629/70581565-67cb0e00-1b6c-

[2019-12-11 01:10] igdianov commented on #220
It does not really matter if there is INNER or OUTER join. The SQL result looks correct, but the mapped result is not

[2019-12-11 23:24] molexx commented on #220
@igdianov thanks again for your investigation, yes I agree.

I will try to submit a test case to the Hibernate project using their template.

[2019-12-12 17:45] molexx commented on #220
I think it may be an unnecessary 'fetch'.

The above creates the JPQL:
[code]

If the second 'fetch' is removed and turned into just a join:
[code]
it seems to work ok.

I think this may be correct behaviour because in this case we don't want to show any data from 'generatedAlias1', we're just using it to restrict. By adding the fetch we're saying 'please get the data and include it in the collect

[2019-12-12 21:53] igdianov commented on #220
@molexx I tried that combination before and it did not work as I recall. The join fetch is used to query filtered result with predicate applied on this node.  My understanding is that the `fetch` is only a hint for Hiberbnate to load result set into persistent collection and to avoid creating a lazy proxy for it.

I will create a few unit tests to verify the JPQL join/join fetch behaviors in any c

[2019-12-13 11:10] igdianov commented on #220
@molexx Check this out: https://github.com/introproventures/graphql-jpa-query/pull/222/commits/14964ec296d11dc4f4b1c28a68788bd681a7f61a

`@ManyToMany` mapping needs both sides of the relationship. Think of it this way - if we're mapping "author" / "book" as many-to-many, we need "authors" collection on Book and "books" collection on Author. In our case,  "Character" entity represents both ends of

[2019-12-14 03:35] MENGKONGSEAN opened #223 "Separate Connection Pools for Query vs. Mutation Operations"
Currently I use `graphql-jpa` with `Multi-Tenancy`.
So Is it possible or not to separate data source for  `Query` and `Mutation` Operations ?
How to do it ?
**Noted** : [Currently I use `graphql-jpa` with `Multi-Tenancy` on my own project]
Thank you.

[2019-12-14 07:37] igdianov commented on #223
Yes, you should be able to use separate datasources for query and mutations in the same JVM. However,  you have to make sure that your entity manager for PU is a proxy that creates entity manager instance per transaction request. I will update one of the examples to show how it is done.

You can also take a look at GraphQL Braid project for blue print how to stitch together Graphql microservices r

[2019-12-14 07:42] igdianov opened #224 "Support streaming query results for large data set"
When querying large data sets, the entity manager will try to load all query results into memory. Then, it will run out of memory in JVM if it can't fit all data.

Apollo has a [spec ](https://github.com/apollographql/apollo-server/blob/defer-support/docs/source/defer-support.md)for `@defer` directive, allowing declarative control of when individual fields in a single GraphQL query get fulfilled a

[2019-12-14 07:44] igdianov opened #225 "Use shared entity manager for multiple data sources example"

[2019-12-15 00:48] #220 closed

[2019-12-15 00:50] igdianov opened #226 "Support logging generated JPQL query string with debug log level"

[2019-12-15 01:30] #225 closed

[2019-12-15 01:43] #226 closed

[2019-12-15 01:55] igdianov commented on #223
@MENGKONGSEAN See the updated example in https://github.com/introproventures/graphql-jpa-query/pull/228

[2019-12-15 01:55] #223 closed

[2019-12-15 07:24] igdianov commented on #199
@MurrayFurtado Please, check out https://github.com/introproventures/graphql-jpa-query/pull/228. It may explain and solve your problems

[2019-12-15 07:24] #199 closed

[2019-12-15 07:25] igdianov commented on #155
Closing stale issue

[2019-12-15 07:25] #155 closed

[2019-12-15 07:44] igdianov commented on #221
@Ernio3 Thank you for you comment. Security is an aspect specific to a particular application business domain and there are so many way to apply security to the subject. For Graphql domain there are 3 aspects:

* Schema field visibility
* Request authorization
* Resource visibility

Each aspect implementation depends on application that provides Graphql Api access to the data. There is a need to c

[2019-12-15 07:46] igdianov commented on #203
@chanhengseang3 Is `@Transient` on enity class part of JPA spec? Do you have any references that it is valid?

[2019-12-15 07:51] igdianov commented on #224
@molexx Feel free to add your thoughts...

[2019-12-16 04:34] MENGKONGSEAN commented on #223
Thank you @igdianov .

[2019-12-16 07:42] chanhengseang3 commented on #203
I mean the `@Transient`  field is a entity class. Like this:
[code]
will have duplicate GQL type.

[2019-12-16 17:39] molexx commented on #220
Interesting, thanks. I'm confused as to why the original query - where we're looking for 'friends' rather than 'friendsOf' - doesn't work though?

I see the above works - where friends and friendsOf are mixed - and also using `friendsOf` twice works:

[code]

without the `where` clause Luke correctly appears as someone who likes R2D2 and with the `where` clause he is correctly not listed as a char

[2019-12-17 00:51] molexx commented on #224
@igdianov cool, looks interesting. We have run into a couple of queries which have OOMed the server.

If I understand right the PRed implementation should return exactly the same response content - so we don't need to change anything at the client - but now the max ram used would be per outer row rather than for the entire query response. Nice.

It looks like full `@defer` support would be quite c

[2019-12-17 00:57] molexx commented on #221
Another one: if the client doesn't need it at runtime can the schema be not sent?

[2019-12-17 07:00] MENGKONGSEAN opened #231 "We hide inaccessible types/properties from the schema."
HI @igdianov

How to filter out properties or type in schema ?

**Example**

I have two ROLE `USER` and `ADMIN`.

And Exists once entity like below.

[code]

So I would like to allow ROLE ADMIN can see properties salary and ROLE USER can not see.

USER request query.

[code]

ADMIN request query.
[code]

**NOTED**

This is necessary for my project because my project have many role and permission s

[2019-12-17 07:45] zhikaing opened #232 "Concurrent execution, SimpleDateFormat is not threadsafe"
I hit into this when having concurrent execution. Looks like the SimpleDateFormat is causing the problem.

https://github.com/introproventures/graphql-jpa-query/blob/master/graphql-jpa-query-schema/src/main/java/com/introproventures/graphql/jpa/query/schema/JavaScalars.java
public GraphQLDateCoercing() {
            df = new SimpleDateFormat("yyyy-MM-dd");
}

private Date parseStringToDate(String

[2019-12-24 10:27] zhikaing commented on #160
Hi, I manage to rebuild/augment the schema based on request however, the GraphQLTypeCollectingVisitor hits an AssertException complaining the following. Any idea?

[code]

[2019-12-27 14:27] duiscairt-foobar commented on #224
Hey, we ran into this issue and adapted a fork as follows:

1. Add subscription type to the schema builder
2. Create a streaming Jpa data fetcher which calls the getResultStream() jpa method and then returns a Publisher<ExecutionResult> whose implementation iterates over the stream passing back results.  This way the core graphql-java does the heavy lifting of returning a full entity as specified

[2019-12-28 12:46] duiscairt-foobar commented on #224
Won’t this still result in the full result set being held in the controller since the whole result set will be materialised at that point on the heap?

[2019-12-30 18:00] igdianov commented on #224
@duiscairt-foobar You are correct. I have tried to use GraphQL `@defer` directive, but it will not help with heap optimization since GraphQL Java will still process the whole result list in memory by iterating the stream before returning it to controller.

There is `@stream` directive extension spec for GraphQL list results. This should be exactly what is needed to support streaming query results

[2019-12-31 14:03] molexx commented on #224
If the controller processed ResultSet rows individually and wrote each row's GraphQL JSON to the HTTP response's OutputStream as it goes then there would only be one row's worth of data on the heap?

That would be useful because we wouldn't have to change our web client.

[2020-01-02 19:43] duiscairt-foobar commented on #224
@molexx - the issue is that the controller doesn’t get access to the ResultSet stream.  It gets a stream from the graphql-java lib in the form Publisher<ExecutionResult> which is the one processing the ResultSet stream.  I agree it would be useful to allow the client to be agnostic to whether a ResultSet list or stream was used to create the output.  I do also like the SSE approach @igdianov used

[2020-01-02 21:15] igdianov commented on #224
There is a [proposal](https://robrichard.net/jskongress-2019/#43) spec for `@stream` directive that supposed to address streaming list results:

- Similar to @defer, but for lists
- Will load each element of the list as it is ready
 - Show users the first item in the list without waiting for the whole list

**Request**
[code]
**Initial Response**
[code]

**Patch for first talk**
[code]

**Patch fo

[2020-01-02 21:24] igdianov commented on #224
It may be possible to use instrumentation to apply `@stream` directive to list results.

However, streaming large results without flow control shifts the problem to client heap. The streaming should support RSockets to let client signal when it is ready process next batch of data from result stream.

[2020-01-09 06:34] phuongphally commented on #231
@MENGKONGSEAN please use `instrumentation`

[2020-01-13 12:34] molexx opened #233 "Inline optional with where is not optional"
I want to get all Humans, and include their favoriteDroid if their favoriteDroid's name begins with 'R'. I want Humans who don't have a favoriteDroid or who's favoriteDroid is C3PO to still be listed but have `favoriteDroid: null`.

But for this:
[code]
the 'optional' appears to have no effect - most Humans are excluded.

If there is no where clause then it works as expected - Humans with no favor

[2020-01-21 05:47] igdianov opened #234 "HHH000104: firstResult/maxResults specified with collection fetch; applying in memory!"
When using page parameters to limit results of the GraphQL JPA query containing fetch join to load associated collections, Hibernate cannot generate SQL with row limit to truncate the result on the database server. Instead, it generates the following warning in the console, executes SQL query without any pagination limits in order to load the whole result from the database to do the pagination in

[2020-01-21 05:53] #234 closed

[2020-01-21 05:57] igdianov commented on #224
Closed via #229

[2020-01-21 05:57] #224 closed

[2020-01-21 06:02] igdianov opened #235 "Add Support fo Relay Cursor Connections"
Relay is a framework for retrieving and caching data from a GraphQL server for a React application. It handles pagination in a really interesting way by allowing the client to paginate forward and backwards from any item returned in the collection.

Relay enables this pagination by defining a specification for how a GraphQL server should expose lists of data called Relay Cursor Connections.

The s

[2020-01-21 07:50] #235 closed

[2020-01-21 08:00] #89 closed

[2020-01-21 08:00] #160 closed

[2020-01-21 08:00] #197 closed

[2020-01-21 10:05] molexx opened #237 "Optionally don't expose schema?"
Do all clients need to inspect the schema at runtime?

If not would it be possible to optionally not expose the schema? If so I'd probably want to do that in production.

[2020-01-21 15:22] igdianov commented on #233
@molexx It looks like a bug to me. :)

You can try use this query as workaround:

[code]

[code]

[2020-01-21 15:26] igdianov commented on #237
@molexx It makes sense. I can add configuration property to `GraphQLJpExecutor` to apply `NoIntrospectionGraphqlFieldVisibility` to the schema if enabled.

[2020-01-28 16:03] molexx commented on #233
Thanks!

But the response doesn't include Luke, I expect him to be there but with `"favoriteDroid": null` because his favoriteDroid is C3PO.

[2020-01-29 19:57] molexx commented on #231
Not `GraphQLVisibility`?

(Should be possible in v0.4, I haven't tried yet, will do soon)

[2020-01-29 20:00] molexx commented on #219
@igdianov

I'm working with 0.4 branch now, thanks!

I want to set a property to enable/switch rowfiltering. I see with the new context code I can set it per execution, but that seems unnecessary as it is unlikely to need to change per execution, it's more app level.

Do you think it's important enough to add a SchemaBuilder property for it?

Or is there/would it be appropriate to add a property M

[2020-01-30 18:34] molexx opened #238 "Developer and user help around maxResults/defaultFetchSize/defaultPageLimitSize"
- Please can defaultMaxResults, defaultFetchSize and defaultPageLimitSize be documented - it's a bit confusing working out the differences between them.

- if defaultPageLimitSize is greater than defaultMaxResults,  defaultMaxResults is used. Maybe defaultMaxResults should be raised to match defaultPageLimitSize if it is greater?

- Please note a breaking change in the changelog as now by default

[2020-01-31 00:34] molexx opened #239 "GraphQLFieldVisibility not used"
If a `Supplier<GraphqlFieldVisibility>` Bean exists it will be autowired into the `GraphQLJpaExecutorContext`, but then it is not used.

It looks like `GraphQLJpaExecutorContext.getGraphQLSchema()` is not called by anything, should it be?

[2020-01-31 06:40] igdianov commented on #238
@molexx Good points. The rationale for applying defaultMaxResults to override user specified page limit size is to provide a circuit breaker in case the user want to retrieve unreasonable number of records that may result in OoM.

The defaultPageLimitSize is applied if the user does not specify page size for backward compatibility.

I think it may be a good idea to provide warnings in the errors t

[2020-01-31 06:42] igdianov commented on #239
@molexx Thank you for report. I will double check in a few days. I did not have time to cover this story with test cases yet. I will look into it over the weekend.

[2020-02-01 18:13] molexx commented on #233
I think the problem here is that in SQL an outer join will return no rows (as opposed to null) if the WHERE clause contains a predicate that doesn't match.
However, it is different in the outer join's ON clause where a null row is returned if the ON's predicates don't match.

So a possible fix for this is to move the predicates from the WHERE to each join's ON.

Unfortunately the JPA spec disallow

[2020-02-03 00:56] igdianov commented on #233
@molexx Changing predicates to apply restrictions in JPA's JOIN ON for each join will not make a difference. The underlying SQL query will use either outer outer or inner join with restrictions on the join, i.e.

GraphQL JPQL Fetch Query:
[code]

Is translated by Hibernate to:
[code]

but it is also equivalent to the following query with left outer join where name restriction:

[code]

In this pla

[2020-02-03 01:38] igdianov commented on #237
@molexx This should be possible to achieve with `NoIntrospectionGraphqlFieldVisibility` implementation that already exists in Graphql Java:

https://github.com/graphql-java/graphql-java/blob/master/src/main/java/graphql/schema/visibility/NoIntrospectionGraphqlFieldVisibility.java#L17

After fixing GH-239, it should be possible to apply `NoIntrospectionGraphqlFieldVisibility`, via Supplier implemen

[2020-02-03 11:51] molexx opened #241 "Fragment queries broken: 'could not initialize proxy - no Session'"
Fragments worked fine a little while ago in 0.3.x but in 0.4 seem to have a broken transaction scope.

On master 510c5bf , this query works fine:

[code]

but the same query using a Fragment no longer does:

[code]

[code]

[2020-02-03 15:25] igdianov commented on #241
@molexx Fragment queries are not supported, yet...

[2020-02-03 16:10] molexx commented on #237
Yes, tested with #239 and NO_INTROSPECTION_FIELD_VISIBILITY following the example with a `@RequestScope` `Supplier<GraphqlFieldVisibility`. Thanks!

[2020-02-03 16:14] molexx commented on #238
Makes sense, thanks.

What about defaultFetchSize?

Also, what happens when multiple schemas are stitched together by GraphQLSchemaRegistration? Does each one keep its own limits or are they merged somehow?

[2020-02-05 00:32] molexx commented on #241
They worked ok up to `09dd88c` but were broken in `3db0e51`.

[2020-02-05 01:23] molexx commented on #233
The last GraphQL response doesn't include Luke because his favoriteDroid is neither null nor begins with 'R'. But I'd like to be able to include Luke, with a null favoriteDroid.

In the original query I'm expecting all 5 Humans to be listed because the Humans aren't restricted and the 'name begins with R' predicate on favoriteDroid is marked as `optional`. It seems reasonable to expect that favori

[2020-02-10 07:44] phuongphally opened #242 "Relay Connection not include totalCount"
Currently

[code]

Should behave `totalCount`

[code]

[2020-02-17 17:56] MurrayFurtado opened #243 "Request for new string operator for 'not like'"
Is it possible to add this for queries such as not like 'USD%'

Thanks

[2020-02-18 13:21] hump commented on #238
Can the user/developer change these default ofs 100 in his application?

[2020-02-28 05:15] #239 closed

[2020-02-28 06:03] igdianov opened #244 "Add support to build schema for entities with matching prefixes"
to avoid using @GraphQLIgnore on existing JPA entities.

The GraphQLJPASchemaBuilder should be able to configure a list of entity paths which should be included in the schema.

[2020-02-28 07:16] igdianov commented on #244
Fixed via https://github.com/introproventures/graphql-jpa-query/pull/245

[2020-02-28 07:16] #244 closed

[2020-02-28 07:22] igdianov commented on #242
@phuongphally The total count is not in the GraphQL Relay specification. The cursor navigation method does not need to compute the total count of the records in the database to avoid query performance hit for large datasets.

[2020-02-28 07:22] #242 closed

[2020-02-28 07:24] igdianov commented on #243
@MurrayFurtado Do you have any suggestions how this should work?

For example, this could be expressed with something like this:

[code]

or
[code]

[2020-02-28 07:51] MurrayFurtado commented on #243
I think the first option is the most flexible, then the NOT operator can be combined with other operators too.

[2020-03-26 10:55] azizkhani opened #248 "Document dose not have And , OR Example"
How to used  And,Or ?
I found this class and method but i dont know how use

[code]
please help me

[2020-03-26 11:12] azizkhani opened #249 "Exception when using graphql-jpa with leangen"
I also use leangen/graphql in my project but i get this exception

How can  id use both graphql-jpa-query and eangen/graphql

`The bean 'graphQLExecutor', defined in class path resource [io/leangen/graphql/spqr/spring/autoconfigure/SpqrMvcAutoConfiguration.class], could not be registered. A bean with that name has already been defined in class path resource [com/introproventures/graphql/jpa/query/

[2020-03-26 11:32] MurrayFurtado commented on #248
There isn't any documentation, which is annoying, but there are unit tests with examples here:
https://github.com/introproventures/graphql-jpa-query/commit/764c43938842fef5a2e4a7ac9519375afc2ef2a0

[2020-03-26 11:40] MurrayFurtado opened #250 "Regression in OR logic"
I think there has been a regression with the OR logic processing. If I pass the following criteria to my backend:

 **security :  { OR: [ { ric  :  { STARTS_ : "ibm" } }{ ric  :  { STARTS_ : "gog" } } ]  }**

this used to work, but now fails with the following error using v0.4.1 of the framework. This was working with v0.3.35

Validation error of type WrongType: argument 'where.security.OR[0]' wit

[2020-03-26 11:42] #250 closed

[2020-03-26 11:42] MurrayFurtado commented on #250
Issue raised in error

[2020-03-26 11:55] azizkhani commented on #248
[code]

[2020-03-26 11:55] #248 closed

[2020-03-26 14:13] azizkhani commented on #219
+1

[2020-03-30 03:15] igdianov commented on #249
@azizkhani It looks like Leangen graphql isregistering graphQLExecutor bean with the same name in application context.

[2020-03-30 03:35] igdianov commented on #233
@molexx I have been experimenting with fetch join on condition to try enabling collection filters using embedded where criteria expressions, i.e.

[code]

Each query produces different results:
[code]

The only caveat is I had to hack Hibernate to disable check for fetch join with on conditions:

https://github.com/introproventures/graphql-jpa-query/pull/251/files#diff-810c995d4bb529948f9490916b23

[2020-03-31 10:59] molexx commented on #233
Thanks for this @igdianov  !

Is it okay to hack hibernate? Will we hit issues updating it and get stuck on a particular version?

Would an alternative be to not use fetch joins but instead build a fetch graph as it goes along?

[2020-03-31 11:08] molexx commented on #219
I have an initial implementation of this that is working, but is not in a releaseable state because it's not been tested on 0.4 because I can't run 0.4 due to #241. Sorry, but watch this space!

[2020-04-03 01:51] igdianov commented on #233
@molexx I know it is not a good idea to hack Hibernate. There only reason they have the restriction on fetch join condition is to follow JPA spec, so it is not a option.

The only viable option to implement collection fetch filter behavior is to create extra queries when resolving data for associated collections with inline where criteria, but it will have big impact on performance due to N+1 quer

[2020-04-06 23:37] igdianov commented on #233
@molexx Here is the fix for your issue: https://github.com/introproventures/graphql-jpa-query/pull/251

Feel free to give a try and let me know if it works for you.

[2020-04-07 02:57] #233 closed

[2020-04-08 00:54] igdianov opened #253 "Support enable/disable default max result size query pagination"
In fact I think a better solution is to have a feature flag by which you can turn this feature off and it run the previous implementation. This has caused us many regressions in our system's features and we don't need this optimization. I speak for @duiscairt-foobar and @zhikaing on this point too as we all work together on the same project.  Many thanks.

_Originally posted by @MurrayFurtado in h

[2020-04-08 01:19] #253 closed

[2020-04-08 02:39] #249 closed

[2020-04-09 16:52] federico-s opened #259 "graphql.AssertException when executing query"
Hi, when i try to run a query using graphiql I always get the following exception:

[code]

When it first query for the schema, the incriminated "variables" field is not null. In every query i try to execute the "variables" field is always null.

I use `com.graphql-java:graphql-java:12.0`, `com.introproventures:graphql-jpa-query:0.4.4`.

I also tried to upgrade to `com.graphql-java:graphql-java:13

[2020-04-10 13:21] #259 closed

[2020-04-18 05:23] chanhengseang3 opened #260 "NullPointerException on @ManyToOne relationship query"
Having entity with `@ManyToOne` relationship:
[code]
Query:
[code]
get Error:
[code]

[2020-04-18 17:23] igdianov commented on #260
The data fetcher expects dataLoaderRegistry at https://github.com/introproventures/graphql-jpa-query/blob/c18ca55463be036847925c28704460f1a00aac95/graphql-jpa-query-schema/src/main/java/com/introproventures/graphql/jpa/query/schema/impl/GraphQLJpaToOneDataFetcher.java#L81

Which is set for the request at https://github.com/introproventures/graphql-jpa-query/blob/c18ca55463be036847925c28704460f1a00

[2020-04-18 18:43] #232 closed

[2020-04-22 17:39] federico-s opened #262 "Create custom additional query"
Hi,
I need to add custom queries to those auto-generated from the schema.
I write my `.graphqls` file with only a query inside and a `GraphQLQueryResolver` to resolve the query but the query is not added in the schema and I can't call it.
What am I doing wrong?

[2020-04-23 15:23] chanhengseang3 commented on #260
Thanks @igdianov , i have modifying context. Let me check on that.

[2020-04-26 02:00] #260 closed

[2020-04-26 02:02] chanhengseang3 opened #263 "Can we have multiple instrumentation ?"
Currently with Supplier we can only inject one `Instrumentation`

[2020-04-26 03:24] igdianov commented on #263
Yes, you can ChainedInstrumentaion for this

[2020-04-26 06:52] chanhengseang3 commented on #263
It works! Thanks

[2020-04-26 06:52] #263 closed

[2020-04-29 10:08] federico-s commented on #262
Could someone answer, please?

[2020-05-15 11:39] martinreilent opened #265 "0.4.8 - Parallel queries may produce java.util.ConcurrentModificationException"
Got this exception today after experimenting with 0.4.8.

Setup:
Spring boot fresh setup 2.2.7
Oracle db 12c

[concurrentModification_stackTrace.txt](https://github.com/introproventures/graphql-jpa-query/files/4634055/concurrentModification_stackTrace.txt)

Tried to also reproduce with h2 in memory test data
[code]
but couldnt get the same exact result. Instead got the
java.util.concurrent.Complet

[2020-05-20 14:19] mtshane opened #267 "Question: Server Side Filtering"
Is it possible to easily create some type of pre processor on the server that can apply global filters to queries?  For Example, say I have an entity that has a boolean "showOnWeb" field, could I capture any queries for that entity and add a showOnWeb EQ True filter server side, so that wasn't exposed in the client GQL query?

[2020-05-23 10:18] tomuszom opened #269 "NPE on initialization"
@Table(name="A")
    @Entity
    public class A
            implements Serializable {
        private static final long serialVersionUID = 1L;

        @Id
        @Column(name = "a_id", nullable = false)
        private String aId;
    }

    @Table(name = "B")
    @Entity
    public class B
            implements Serializable {
        private static final long serialVersionUID = 1L;

        @E

[2020-05-26 15:29] chanhengseang3 commented on #262
i added a some code to do it:
[code]
then register it in schema:
[code]

[2020-06-07 05:48] MENGKONGSEAN opened #271 "Question about row filter and Subscription example"
Who can help me give example to how to use row filter and Subscription ?

Thank you.

[2020-06-08 17:23] nagallan commented on #44
@phuongphally, could you please let meknow if you have any github project that you have implemented for this? or any info on the steps to add this support?

[2020-06-18 12:59] hump opened #273 "Release 0.4.10 introduces caching effect"
After upgrading to **0.4.10** we observed that changes to JPA Entities were **not reflected** in query results.
0.4.7 does not show this effect.

[2020-06-22 23:21] #202 closed

[2020-06-22 23:22] #75 closed

[2020-06-22 23:25] igdianov commented on #273
@hump What kind of effect is it? In 0.4.10 the only changes were due to Spring Boot dependencies upgrade with newer version of the Hibernate persistence provider. Can you be more specific about the problem?

[2020-06-22 23:27] igdianov commented on #267
@mtshane It should be possible to do something like that.

[2020-06-22 23:27] igdianov commented on #271
@MENGKONGSEAN Can you describe your use case in more detail?

[2020-06-22 23:35] #219 closed

[2020-06-23 01:45] igdianov commented on #269
@tomuszom Thank you bug report! I will take a look at it

[2020-06-23 06:40] hump commented on #273
thank you for looking into this issue :)
if we change entities in database with jpa, then these changes are not visible in the follwing queries.
Looks like a caching effect.

[2020-06-27 02:13] #273 closed

[2020-06-27 16:23] hump commented on #273
@igdianov  thank you for fixing this issue :)

[2020-06-29 03:44] ILiuhao opened #277 "Introspection if the type is Boolean and the field begins with I"
I found that fields beginning with I could not be found

[2020-06-29 05:18] #277 closed

[2020-06-30 15:26] hump commented on #265
we also got such errors with the actual version while use using a react backend...

[2020-07-04 15:56] hump commented on #265
happens since 0.4.0

[2020-07-17 03:44] phuongphally commented on #271
@MENGKONGSEAN Awesome question.

[2020-08-05 04:24] topikachu opened #280 "Row level filtering doesn't apply on nested object/join"
Current row-level filter/RestrictedKeysProvider only applies to the root entity. The objects still can be queried out by join.
And it's not efficient to filter by keys when there are thousands of records are applicable.

I know it's difficult to give a generic solution. Any idea?

[2020-09-22 07:48] hzw2015 opened #284 "About Mutation"
Will Mutation be supported in the future?

[2020-09-22 08:12] negesti commented on #284
@igdianov for our project we have extended the GraphQLJpaSchemaBuilder and are merging the existing GraphQL schema with our own mutation schema. However the mutation are not auto generated but require a DAO for each entity that should be updated/created/remove. If you are interested i can try to provide a sample/PR

[2020-09-22 08:27] hzw2015 commented on #284
Thank you very much, can you provide sample code for reference

[2020-09-22 09:25] negesti commented on #284
You can find a quick copy&paste here https://gist.github.com/negesti/7a74b063a0d17d87bdebbb559da9c9c8

The actual mutation is done by a "hand written" DAO that implements the interface MyDAOInterface. For each entity that should be mutable, you must implement the "MyDAOInteface" and provide a MyAbstractMutation for it

[2020-09-22 09:52] hzw2015 commented on #284
Thanks, will the above code implementation be considered for adding to the current project?

[2020-10-13 07:26] hzw2015 opened #285 "Custom query"
How to implement custom query？

[2020-10-13 15:31] EhsanMo opened #286 "Is it possible to connect multiple-datasource?"
I have two different data-sources, connect the two databases.  The library works great with one of them, but totally ignores other entities defined in another data-source. Does the library work with two or more different data source?

[2020-10-15 13:35] hump commented on #265
any chance this could be fixed?
would a test case helpful to reproduce it?

[2020-11-09 13:40] 256cats opened #288 "Non-threadsafe Entitymanager instance"
Hi, we are using this library in a Spring Boot application and discovered that `DefaultGraphQLJpaQueryConfiguration` produces non-threadsafe EntityManager instance and we experienced `possible non-threadsafe access to the session` exception under load.

Specifically, in https://github.com/introproventures/graphql-jpa-query/blob/master/graphql-jpa-query-boot-starter/src/main/java/com/introproventur

[2020-11-09 14:00] 256cats opened #289 "GraphQL schema is transformed on every request, leading to performance issues"
Hi, `GraphQLJpaExecutorContext` transforms the schema field visibility rules on every request and it leads to performance drop.

Specifically, in https://github.com/introproventures/graphql-jpa-query/blob/master/graphql-jpa-query-schema/src/main/java/com/introproventures/graphql/jpa/query/schema/impl/GraphQLJpaExecutorContext.java#L108 :

[code]

Correct me, if I'm wrong, It seems that `graphQLSch

[2020-12-14 11:04] Roman-Skripka opened #290 "@Embedded doesn't seem to work"
For @Embedded attribute this method is called and leads to NullPointerException during schema build: https://github.com/introproventures/graphql-jpa-query/blame/master/graphql-jpa-query-schema/src/main/java/com/introproventures/graphql/jpa/query/schema/impl/GraphQLJpaSchemaBuilder.java#L887

@igdianov please confirm whether this is a bug

`
java.lang.NullPointerException: null
	at com.introprovent

[2020-12-14 11:06] Roman-Skripka commented on #290
seems to be a duplicate of https://github.com/introproventures/graphql-jpa-query/issues/269 ...

[2021-01-05 06:57] chanhengseang3 opened #291 "Pagination error after index out of bound"
In older version, when we read data as paginated row, whenever the `offset` is greater than total amount the result will be null. But in current version it will never should empty result (there's always records, kind of becoming a loop).

[2021-02-01 03:24] pkfryer opened #292 "OrderBy throws NullPointerException using EclipseLink JPA"
OrderBy in a query throws an exception.  EclipseLink appears to have a bug.  The getOrderList implementation of CriteriaQuery returns null when uninitialised rather than the specifications empty array.

The getOrderList is used as constructor initialisation of new ArrayList.  If we add a check for null before using can prevent this exception.

[2021-03-15 12:42] mdtamim opened #293 "LazyInitializationException during load testing"
I am able to fetch a OneToMany association when hitting a single request but getting "LazyInitializationException - could not initialize proxy - no Session" when performing load test.I tried enabling "enable_lazy_load_no_tran: true" in hibernate properties for the fix but getting below exception :

java.lang.NullPointerException: null
	at org.hibernate.event.internal.EvictVisitor.evictCollection(E

[2021-03-15 12:44] mdtamim opened #294 "Payload response has null values during load test"
When performing load test of approx 50 concurrent users,I am getting null values of the fields which were queried.

[2021-03-17 10:38] th3nu11 opened #295 "getResultStream should use query.getResultStream instead of query.getResultList().stream"
Hi all,

I am writing to you for help to check if my correction is correct.

Seems that in the class/method  _GraphQLJpaQueryFactory::getResultStream_ that should return a stream but to do that the method convert the query stream to list.
See code here:
https://github.com/introproventures/graphql-jpa-query/blob/aeb8766ac00ae2b5f3c09938df5a720022c89351/graphql-jpa-query-schema/src/main/java/com/int

[2021-04-07 19:34] rafaelbenevides commented on #294
I have the same problem, sometimes some properties return null values, I enabled the hibernate log to print the script, I ran the script in the database and returned the values ​​correctly

[2021-04-07 19:35] rafaelbenevides commented on #294
Any idea  @igdianov ?

[2021-06-18 03:10] kisixing opened #297 "Mutation Wanted!"
Dear developers：
  Hello everyone, I've met graphql-jpa-query in recent days. it's awesome.
  Our project needs mutation resolution. I've read issues about mutation(most information is 2 years ago), and the example URL in an answer is broken.  Would you please let me know any progress about basic Update, Delete, Create.
  Look forward your prompt reply.

[2021-06-18 03:14] kisixing opened #298 "Mutation Wanted"
Dear developers：
  Hello everyone, I've met graphql-jpa-query in recent days. it's awesome.
  Our project needs mutation resolution. I've read issues about mutation(most information is 2 years ago), and the example URL in an answer is broken.  Would you please let me know any progress about basic Update, Delete, Create.
  Look forward your prompt reply.

[2021-06-18 03:30] kisixing commented on #298
I'm sorry to commit the issue repeatedly  because of network problems

[2022-04-05 21:14] #297 closed

[2022-04-11 22:09] brendanmoorep opened #303 "How can I override an Entity field dataFetcher?"
Is there a way that I can override or add custom logic to the dataFetcher for a field of my entity?

For example, if I have a column "status" that is an integer column, but I'd like the API to respond with the status's corresponding enum value, how could I go about doing that?

[code]

[2022-06-23 15:40] Syreniac opened #304 "Entities named differently to the underlying database table are misnamed in the schema"
If you have an entity like this:

`
@Table(name = "EWARLNSYHTATT")
public class EntityWithAReallyLongNameSoYouHaveToAbbreviateTheTable{

}`

In the generated schema, the generated type would be "EWARLNSYHTATT" rather than the actual entity name. The underlying problem is in GraphQLJpaSchemaBuilder.resolveTypeName() - instead of doing managedType.getName(), it should arguably be doing managedType.g